{
  "service": {
    "name": "dnsmasq",
    "tags": ["meta"],
    "meta": {"type": "dnsmasq"},
    "port": 53,
    "check": {
      "tcp": "localhost:53",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}