{
  "service": {
    "name": "dnsmasq",
    "tags": ["meta"],
    "meta": {"type": "dnsmasq"},
    "port": 53,
    "check": {
      "tcp": "localhost:53",
      "interval": "{{ consul_check_interval }}",
      "timeout": "{{ consul_check_timeout  }}"
    }
  }
}