{
  "service": {
    "name": "pg-exporter",
    "port": {{ pg_exporter_port }},
    "tags": [
      "pgsql",
      "exporter",
      "pg-exporter"
    ],
    "meta": {
      "type": "exporter",
      "role": "{{ pg_role }}",
      "seq": "{{ pg_seq }}",
      "instance": "{{ pg_cluster }}-{{ pg_seq }}",
      "service": "{{ pg_cluster }}-{{ pg_role }}",
      "cluster": "{{ pg_cluster }}"
    },
    "check": {
      "http": "http://{{ inventory_hostname }}:{{ pg_exporter_port }}/",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}