{
  "service": {
    "name": "postgres",
    "port": {{ pg_port }},
    "tags": [
      "{{ pg_role }}",
      "{{ pg_cluster }}"
    ],
    "meta": {
      "type": "postgres",
      "role": "{{ pg_role }}",
      "seq": "{{ pg_seq }}",
      "instance": "{{ pg_instance }}",
      "service": "{{ pg_service }}",
      "cluster": "{{ pg_cluster }}",
      "version": "{{ pg_version }}"
    },
    "check": {
      "args": ["{{ pg_bin_dir }}/pg_isready", "-p", "{{ pg_port }}", "-U", "{{ pg_monitor_username|default('dbuser_monitor') }}"],
      "interval": "15s",
      "timeout": "1s"
    }
  }
}