[Unit]
Description=Jupyter Lab
Documentation=https://jupyter.org/
After=network.target

[Service]
Type=simple
PIDFile=/run/jupyter.pid
User={{ jupyter_username }}
ExecStart=/usr/local/bin/jupyter lab
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s

CPUQuota=10%
MemoryLimit=200M

[Install]
WantedBy=multi-user.target