REDIS_EXPORTER_OPTS={{ redis_exporter_options }}
REDIS_EXPORTER_CONNECTION_TIMEOUT=10s
REDIS_EXPORTER_WEB_LISTEN_ADDRESS="0.0.0.0:{{ redis_exporter_port }}"
REDIS_EXPORTER_WEB_TELEMETRY_PATH="{{ exporter_metrics_path }}"
REDIS_EXPORTER_INCL_SYSTEM_METRICS=true

# REDIS_ADDR                            # Address of the Redis instance, defaults to redis://localhost:6379.
# REDIS_USER                            # User name to use for authentication (Redis ACL for Redis 6.0 and newer).
# REDIS_PASSWORD                        # Password of the Redis instance, defaults to "" (no password).
# REDIS_PASSWORD_FILE                   # Password file of the Redis instance to scrape, defaults to "" (no password file).
# REDIS_EXPORTER_CHECK_KEYS             # Comma separated list of key patterns to export value and length/size, eg: db3=user_count will export key user_count from db 3. db defaults to 0 if omitted. The key patterns specified with this flag will be found using SCAN. Use this option if you need glob pattern matching; check-single-keys is faster for non-pattern keys. Warning: using --check-keys to match a very large number of keys can slow down the exporter to the point where it doesn't finish scraping the redis instance.
# REDIS_EXPORTER_CHECK_SINGLE_KEYS      # Comma separated list of keys to export value and length/size, eg: db3=user_count will export key user_count from db 3. db defaults to 0 if omitted. The keys specified with this flag will be looked up directly without any glob pattern matching. Use this option if you don't need glob pattern matching; it is faster than check-keys.
# REDIS_EXPORTER_CHECK_STREAMS          # Comma separated list of stream-patterns to export info about streams, groups and consumers. Syntax is the same as check-keys.
# REDIS_EXPORTER_CHECK_SINGLE_STREAMS   # Comma separated list of streams to export info about streams, groups and consumers. The streams specified with this flag will be looked up directly without any glob pattern matching. Use this option if you don't need glob pattern matching; it is faster than check-streams.
# REDIS_EXPORTER_CHECK_KEYS_BATCH_SIZE  # Approximate number of keys to process in each execution. This is basically the COUNT option that will be passed into the SCAN command as part of the execution of the key or key group metrics, see COUNT option. Larger value speeds up scanning. Still Redis is a single-threaded app, huge COUNT can affect production environment.
# REDIS_EXPORTER_COUNT_KEYS             # Comma separated list of patterns to count, eg: db3=sessions:* will count all keys with prefix sessions: from db 3. db defaults to 0 if omitted. Warning: The exporter runs SCAN to count the keys. This might not perform well on large databases.
# REDIS_EXPORTER_SCRIPT                 # Path to Redis Lua script for gathering extra metrics.
# REDIS_EXPORTER_DEBUG                  # Verbose debug output
# REDIS_EXPORTER_LOG_FORMAT             # Log format, valid options are txt (default) and json.
# REDIS_EXPORTER_NAMESPACE              # Namespace for the metrics, defaults to redis.
# REDIS_EXPORTER_CONNECTION_TIMEOUT     # Timeout for connection to Redis instance, defaults to "15s" (in Golang duration format)
# REDIS_EXPORTER_WEB_LISTEN_ADDRESS     # Address to listen on for web interface and telemetry, defaults to 0.0.0.0:9121.
# REDIS_EXPORTER_WEB_TELEMETRY_PATH     # Path under which to expose metrics, defaults to /metrics.
# REDIS_EXPORTER_REDIS_ONLY_METRICS     # Whether to also export go runtime metrics, defaults to false.
# REDIS_EXPORTER_INCL_SYSTEM_METRICS    # Whether to include system metrics like total_system_memory_bytes, defaults to false.
# REDIS_EXPORTER_PING_ON_CONNECT        # Whether to ping the redis instance after connecting and record the duration as a metric, defaults to false.
# REDIS_EXPORTER_IS_TILE38              # Whether to scrape Tile38 specific metrics, defaults to false.
# REDIS_EXPORTER_IS_CLUSTER             # Whether this is a redis cluster (Enable this if you need to fetch key level data on a Redis Cluster).
# REDIS_EXPORTER_EXPORT_CLIENT_LIST     # Whether to scrape Client List specific metrics, defaults to false.
# REDIS_EXPORTER_EXPORT_CLIENT_PORT     # Whether to include the client's port when exporting the client list. Warning: including the port increases the number of metrics generated and will make your Prometheus server take up more memory
# REDIS_EXPORTER_SKIP_TLS_VERIFICATION  # Whether to to skip TLS verification
# REDIS_EXPORTER_TLS_CLIENT_KEY_FILE    # Name of the client key file (including full path) if the server requires TLS client authentication
# REDIS_EXPORTER_TLS_CLIENT_CERT_FILE   # Name the client cert file (including full path) if the server requires TLS client authentication
# REDIS_EXPORTER_TLS_SERVER_KEY_FILE    # Name of the server key file (including full path) if the web interface and telemetry should use TLS
# REDIS_EXPORTER_TLS_SERVER_CERT_FILE   # Name of the server certificate file (including full path) if the web interface and telemetry should use TLS
# REDIS_EXPORTER_TLS_CA_CERT_FILE       # Name of the CA certificate file (including full path) if the server requires TLS client authentication
# REDIS_EXPORTER_SET_CLIENT_NAME        # Whether to set client name to redis_exporter, defaults to true.
# REDIS_EXPORTER_CHECK_KEY_GROUPS       # Comma separated list of LUA regexes for classifying keys into groups. The regexes are applied in specified order to individual keys, and the group name is generated by concatenating all capture groups of the first regex that matches a key. A key will be tracked under the unclassified group if none of the specified regexes matches it.

