#==============================================================#
# Default HBA
#==============================================================#
# allow local su with ident"
local   all             postgres                               ident
local   replication     postgres                               ident

# allow local user password access
local   all             all                                    {{ pg_pwd_enc }}

# allow local/intranet replication with password
local   replication     {{ pg_replication_username }}                              {{ pg_pwd_enc }}
{% if pg_sslmode != 'disable' %}
hostssl replication     {{ pg_replication_username }}         127.0.0.1/32         {{ pg_pwd_enc }}
hostssl postgres        {{ pg_replication_username }}         10.0.0.0/8           {{ pg_pwd_enc }}
hostssl postgres        {{ pg_replication_username }}         172.16.0.0/12        {{ pg_pwd_enc }}
hostssl postgres        {{ pg_replication_username }}         192.168.0.0/16       {{ pg_pwd_enc }}
hostssl replication     {{ pg_replication_username }}         10.0.0.0/8           {{ pg_pwd_enc }}
hostssl replication     {{ pg_replication_username }}         172.16.0.0/12        {{ pg_pwd_enc }}
hostssl replication     {{ pg_replication_username }}         192.168.0.0/16       {{ pg_pwd_enc }}
{% else %}
host    replication     {{ pg_replication_username }}         127.0.0.1/32         {{ pg_pwd_enc }}
host    postgres        {{ pg_replication_username }}         10.0.0.0/8           {{ pg_pwd_enc }}
host    postgres        {{ pg_replication_username }}         172.16.0.0/12        {{ pg_pwd_enc }}
host    postgres        {{ pg_replication_username }}         192.168.0.0/16       {{ pg_pwd_enc }}
host    replication     {{ pg_replication_username }}         10.0.0.0/8           {{ pg_pwd_enc }}
host    replication     {{ pg_replication_username }}         172.16.0.0/12        {{ pg_pwd_enc }}
host    replication     {{ pg_replication_username }}         192.168.0.0/16       {{ pg_pwd_enc }}
{% endif %}

# allow local role monitor with password
local   all             {{ pg_monitor_username }}                          {{ pg_pwd_enc }}
{% if pg_sslmode != 'disable' %}
hostssl all             {{ pg_monitor_username }}      127.0.0.1/32        {{ pg_pwd_enc }}
{% else %}
host    all             {{ pg_monitor_username }}      127.0.0.1/32        {{ pg_pwd_enc }}
{% endif %}

{% if admin_ip is defined and admin_ip != '' %}
# allow admin nodes everyone access with password
host    all             all      {{ admin_ip }}/32        {{ pg_pwd_enc }}
{% endif %}

{% if 'infra' in groups and groups['infra']|length > 0 %}
# allow infra nodes monitor with password
{% for ip in groups['infra'] %}
host    all             {{ pg_monitor_username }}      {{ ip }}/32        {{ pg_pwd_enc }}
{% endfor %}
{% endif %}


#==============================================================#
# Extra HBA
#==============================================================#
# add extra hba rules here

{% for hba in pg_hba_rules %}
{% if hba.role == 'common' %}
#  {% if 'title' in hba %}{{ hba.title }}{% endif %}

{% for rule in hba.rules %}
{{ rule }}
{% endfor %}

{% endif %}
{% endfor %}

{% for hba in pg_hba_rules %}
{% if hba.role == pg_role %}
#  {% if 'title' in hba %}{{ hba.title }}{% endif %}

{% for rule in hba.rules %}
{{ rule }}
{% endfor %}
{% endif %}
{% endfor %}


#==============================================================#
# {{ pg_role }} HBA
#==============================================================#
{% for hba in pg_default_hba_rules %}
{% if hba.role == pg_role %}
{% if 'title' in hba %}# {{ hba.title }}{% endif %}

{% for rule in hba.rules %}
{{ rule }}
{% endfor %}
{% endif %}
{% endfor %}


#==============================================================#
# special HBA for instance marked with 'pg_offline_query = true'
#==============================================================#
{% for hba in pg_hba_rules %}
{% if hba.role == 'offline' and pg_role != 'offline' and pg_offline_query == true %}
#  {% if 'title' in hba %}{{ hba.title }}{% endif %}

{% for rule in hba.rules %}
{{ rule }}
{% endfor %}
{% endif %}
{% endfor %}

{% for hba in pg_default_hba_rules %}
{% if hba.role == 'offline' and pg_role != 'offline' and pg_offline_query == true %}
#  {% if 'title' in hba %}{{ hba.title }}{% endif %}

{% for rule in hba.rules %}
{{ rule }}
{% endfor %}
{% endif %}
{% endfor %}


#==============================================================#
# Common HBA
#==============================================================#
{% for hba in pg_default_hba_rules %}
{% if hba.role == 'common' %}
#  {% if 'title' in hba %}{{ hba.title }}{% endif %}

{% for rule in hba.rules %}
{{ rule }}
{% endfor %}

{% endif %}
{% endfor %}




#==============================================================#
# Ad Hoc HBA
#==============================================================#
# manual maintained hba rules
