#==============================================================#
# Default HBA
#==============================================================#
# local dbsu quick access
local     pgbouncer    postgres                                    peer

# local all password access (for biz user test)
local     all          all                                         {{ pg_pwd_enc }}
{% if pg_sslmode != 'disable' %}
hostssl   all          all                         127.0.0.1/32    {{ pg_pwd_enc }}

# monitor user intranet access to pgbouncer stats
hostssl   pgbouncer    {{ pg_monitor_username }}   10.0.0.0/8      {{ pg_pwd_enc }}
hostssl   pgbouncer    {{ pg_monitor_username }}   172.16.0.0/12   {{ pg_pwd_enc }}
hostssl   pgbouncer    {{ pg_monitor_username }}   192.168.0.0/16  {{ pg_pwd_enc }}
hostssl   all          {{ pg_monitor_username }}   0.0.0.0/0       reject

{% if not pgbouncer_auth_query|bool %}
# admin user have intranet access to pgbouncer admin
hostssl   pgbouncer    {{ pg_admin_username }}     10.0.0.0/8      {{ pg_pwd_enc }}
hostssl   pgbouncer    {{ pg_admin_username }}     172.16.0.0/12   {{ pg_pwd_enc }}
hostssl   pgbouncer    {{ pg_admin_username }}     192.168.0.0/16  {{ pg_pwd_enc }}
hostssl   all          {{ pg_admin_username }}     0.0.0.0/0       reject
{% endif %}
{% else %}
host      all          all                         127.0.0.1/32    {{ pg_pwd_enc }}

# monitor user intranet access to pgbouncer stats
host      pgbouncer    {{ pg_monitor_username }}   10.0.0.0/8      {{ pg_pwd_enc }}
host      pgbouncer    {{ pg_monitor_username }}   172.16.0.0/12   {{ pg_pwd_enc }}
host      pgbouncer    {{ pg_monitor_username }}   192.168.0.0/16  {{ pg_pwd_enc }}
host      all          {{ pg_monitor_username }}   0.0.0.0/0       reject

{% if not pgbouncer_auth_query|bool %}
# admin user have intranet access to pgbouncer admin
host      pgbouncer    {{ pg_admin_username }}     10.0.0.0/8      {{ pg_pwd_enc }}
host      pgbouncer    {{ pg_admin_username }}     172.16.0.0/12   {{ pg_pwd_enc }}
host      pgbouncer    {{ pg_admin_username }}     192.168.0.0/16  {{ pg_pwd_enc }}
host      all          {{ pg_admin_username }}     0.0.0.0/0       reject
{% endif %}
{% endif %}

#==============================================================#
# Common HBA
#==============================================================#
{% for hba in pgbouncer_default_hba_rules %}
{% if hba.role == 'common' %}
#  {% if 'title' in hba %}{{ hba.title }}{% endif %}

{% for rule in hba.rules %}
{{ rule }}
{% endfor %}

{% endif %}
{% endfor %}


#==============================================================#
# {{ pg_role }} HBA
#==============================================================#
{% for hba in pgbouncer_default_hba_rules %}
{% if hba.role == pg_role %}
#  {% if 'title' in hba %}{{ hba.title }}{% endif %}

{% for rule in hba.rules %}
{{ rule }}
{% endfor %}
{% endif %}
{% endfor %}


#==============================================================#
# Extra HBA
#==============================================================#
# add extra hba rules here

{% for hba in pgbouncer_hba_rules %}
{% if hba.role == 'common' %}
#  {% if 'title' in hba %}{{ hba.title }}{% endif %}

{% for rule in hba.rules %}
{{ rule }}
{% endfor %}

{% endif %}
{% endfor %}

{% for hba in pgbouncer_hba_rules %}
{% if hba.role == pg_role %}
#  {% if 'title' in hba %}{{ hba.title }}{% endif %}

{% for rule in hba.rules %}
{{ rule }}
{% endfor %}
{% endif %}
{% endfor %}


#==============================================================#
# Ad Hoc HBA
#==============================================================#
# manual maintained hba rules
