# THIS FILE IS FOR PGBOUNCER HBA, DO NOT CHANGE
# FILE PATH: /etc/pgbouncer/pgb_hba.conf

# local admin access
local  pgbouncer postgres                                       peer

# local all password access
host    all     all                         127.0.0.1/32        md5

# intranet monitor access
local  pgbouncer    {{ pg_monitor_username }}                   md5
host   pgbouncer    {{ pg_monitor_username }}   10.0.0.0/8      md5
host   pgbouncer    {{ pg_monitor_username }}   192.168.0.0/16  md5

# biz_user intranet password access
local  all          all                                     md5
host   all          all                     127.0.0.1/32    md5
host   all          all                     10.0.0.0/8      md5
host   all          all                     192.168.0.0/16  md5
