# THIS FILE IS FOR PGBOUNCER HBA, DO NOT CHANGE
# FILE PATH: /etc/pgbouncer/pgb_hba.conf

# local admin access
local  pgbouncer postgres                                       peer

# local all password access
host    all     all                         127.0.0.1/32        md5

# local monitor access
local  pgbouncer    {{ pg_monitor_username }}                   md5
host   pgbouncer    {{ pg_monitor_username }}   127.0.0.1/32    md5

# customize hba entry
{% if pg_hba_pgbouncer is defined and pg_hba_pgbouncer|length > 0 %}
{% for hba in pg_hba_pgbouncer %}
{{ hba }}
{% endfor %}
{% endif %}

