#==============================================================#
# File      :   pgbackrest.conf
# Ctime     :   2022-11-01
# Mtime     :   2022-11-06
# Desc      :   pgbackrest configuration file
# Path      :   /etc/pgbackrest/pgbackrest.conf
# Doc       :   https://pgbackrest.org/configuration.html
#==============================================================#

[{{ pg_cluster }}]

#==========================================================#
# 1. stanza
# https://pgbackrest.org/configuration.html#section-stanza
#==========================================================#
pg1-path={{ pg_data }}
pg1-port={{ pg_port }}
start-fast=y


[global]
#==========================================================#
# 2. archive
# https://pgbackrest.org/configuration.html#section-archive
#==========================================================#
archive-async=y


#==========================================================#
# 3. backup
# https://pgbackrest.org/configuration.html#section-backup
#==========================================================#
annotation=pg_cluster="{{ pg_cluster }}"
expire-auto=y
#backup-standby=y


#==========================================================#
# 4. general
# https://pgbackrest.org/configuration.html#section-general
#==========================================================#
compress-type=lz4
spool-path=/pg/tmp


#==========================================================#
# 5. log
# https://pgbackrest.org/configuration.html#section-log
#==========================================================#
log-level-console=info
log-level-file=debug
log-path={{ pgbackrest_log_dir }}


#==========================================================#
# 6. repository
# https://pgbackrest.org/configuration.html#section-repository
#==========================================================#
{{ pgbackrest_repo }}


#==========================================================#
# 7. restore
# https://pgbackrest.org/configuration.html#section-restore
#==========================================================#
[global:restore]
process-max=8
link-all=y
delta=y


#==========================================================#
# 8. server
# https://pgbackrest.org/configuration.html#section-server
#==========================================================#
#tls-server-address=*
#tls-server-port=9638
#tls-server-ca-file=/etc/pki/ca.crt
#tls-server-cert-file=/pg/cert/server.crt
#tls-server-key-file=/pg/cert/server.key


#==========================================================#
# 9. adhoc (parallel)
#==========================================================#
process-max=4

[global:archive-get]
process-max=2

[global:archive-push]
process-max=4
