# PGBOUNCER CONFIGURATION FILE
# FILE PATH : /etc/pgbouncer/pgbouncer.ini

[databases]
%include /etc/pgbouncer/database.txt


[pgbouncer]
pool_mode                   = {{ pgbouncer_poolmode }}
listen_addr                 = *
listen_port                 = {{ pgbouncer_port }}
auth_type                   = hba
auth_file                   = /etc/pgbouncer/userlist.txt
auth_hba_file               = /etc/pgbouncer/pgb_hba.conf
{% if pgbouncer_auth_query|bool %}
auth_user                   = {{ pg_monitor_username }}
auth_query                  = SELECT username, password FROM pgbouncer.get_auth($1)
admin_users                 = {{ pg_dbsu }}
{% else %}
admin_users                 = {{ pg_dbsu }}, {{ pg_admin_username }}
{% endif %}
stats_users                 = {{ pg_dbsu }}, {{ pg_monitor_username }}
server_reset_query          =
pidfile                     = /var/run/postgresql/pgbouncer.pid
logfile                     = {{ pgbouncer_log_dir }}/pgbouncer.log
unix_socket_dir             = /var/run/postgresql
application_name_add_host   = 1
max_client_conn             = 20000
default_pool_size           = 64
reserve_pool_size           = 32
reserve_pool_timeout        = 5
max_db_connections          = {{ pgbouncer_max_db_conn }}
log_connections             = 0
log_disconnections          = 0
ignore_startup_parameters   = extra_float_digits
{% if pg_sslmode != 'disable' %}
client_tls_sslmode          = {{ pg_sslmode }}
client_tls_cert_file        = /etc/pki/tls/certs/{{ pg_cluster }}.crt
client_tls_key_file         = /etc/pki/tls/private/{{ pg_cluster }}.key
client_tls_ca_file          = /etc/pki/ca-trust/source/anchors/ca.crt
{% endif %}
