{
  "datacenter": "{{ dcs_name }}",
  "node_name": "{{ dcs_nodename }}",
  "bind_addr": "{{ inventory_hostname }}",
  "retry_join": {{ dcs_servers.values()|list|to_json }},
  "data_dir": "{{ consul_data_dir }}",
  "log_level": "INFO",
  "enable_local_script_checks": true
}