{
  "datacenter": "{{ dcs_name }}",
  "node_name": "{{ dcs_nodename }}",
  "bind_addr": "{{ inventory_hostname }}",
{% if dcs_ssl_enabled|bool %}
  "ports": {
    "http": -1,
    "https": 8500
  },
  "tls": {
    "defaults": {
      "tls_min_version": "TLSv1_2",
      "verify_outgoing": true,
      "verify_incoming": false,
      "ca_file": "/var/lib/consul/ca.crt",
      "cert_file": "/var/lib/consul/consul-{{ dcs_nodename }}.crt",
      "key_file": "/var/lib/consul/consul-{{ dcs_nodename }}.key"
    },
    "internal_rpc": {
      "verify_server_hostname": true
    }
  },
  "auto_encrypt": {
{% if inventory_hostname in dcs_servers.values() %}
    "allow_tls": true
{% else %}
    "tls": true
{% endif %}
  },
{% endif %}
  "retry_join": {{ dcs_servers.values()|list|to_json }},
  "data_dir": "{{ consul_data_dir }}",
  "log_level": "INFO",
  "enable_local_script_checks": true,
  "telemetry": {
    "prometheus_retention_time": "15m",
    "disable_hostname": true
  }
}
