{
  "service": {
    "name": "node-exporter",
    "port": {{ node_exporter_port }},
    "tags": [
        "pg",
        "exporter",
        "node-exporter"
    ],
    "meta": {
      "type": "exporter",
      "role": "{{ pg_role }}",
      "seq": "{{ pg_seq }}",
      "instance": "{{ pg_cluster }}-{{ pg_seq }}",
      "service": "{{ pg_cluster }}-{{ pg_role }}",
      "cluster": "{{ pg_cluster }}"
    },
    "check": {
      "http": "http://{{ inventory_hostname }}:{{ node_exporter_port }}/",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}