<html lang="en">
<head><title>Pigsty Home</title></head>
<br>
<body><h1>PIGSTY -- Postgres In Graphic STYle</h1>
<p> This is nginx server on pigsty meta node. </p>
<p> Local yum repo [{{ repo_name }}] is now <a href="http://{{ repo_host }}/{{ repo_name }}">available</a>, but may take more time to download packages</p>
<code>
    sudo curl <a href="http://{{ repo_host }}/{{ repo_name }}.repo">http://{{ repo_host }}/{{ repo_name }}.repo</a> -o /etc/yum.repos.d/{{ repo_name }}.repo
</code>
</body>
</html>