[Unit]

Description=Prometheus exporter for Keepalived metrics
Documentation=https://github.com/gen2brain/keepalived_exporter
After=network.target


[Service]
EnvironmentFile=-/etc/default/keepalived_exporter
User=root
ExecStart=/usr/bin/keepalived_exporter $KEEPALIVED_EXPORTER_OPTS
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target