# vm files
vagrant/.vagrant

# packages cache
pkg/
pkg.tgz

# IDE files
.idea/
.code/

# macos files
.DS_Store

# archive
archive/

# temp files
/files
/temp/
/cls/


#########################################################
# environment configurations
#########################################################

# private config
conf/vps.yml
conf/pre.yml
conf/prod.yml

# public demo
inventory/vps.ini
group_vars/vps.yml

# testing env
inventory/test.ini
group_vars/test.yml

# production env
inventory/prod.ini
group_vars/prod.yml

# soft links
inventory/inventory.ini
group_vars/all.yml

# init template
templates/initdb-tt.sh
