# License   :   AGPLv3 @ https://pigsty.io/docs/about/license
# Copyright :   2018-2025  Ruohang Feng / Vonng (rh@vonng.com)

#########################################################
# pigsty-ca and other certs
#########################################################
files/*.key
files/*.crt
files/pki/*

#########################################################
# vagrant & terraform
#########################################################
.vagrant/
vagrant/Vagranfile
vagrant/.vagrant

.terraform/
terraform/.terraform/
terraform/*.hcl
terraform/*.tfstate*
terraform/.terraform*

#########################################################
# tmp files
#########################################################
# IDE files
.idea/
.code/
.DS_Store
__pycache__/
bin/__pycache__
temp/

#########################################################
# private file
#########################################################
bin/confgen
bin/release-pro
files/license.lic
test.yml
dist/
files/*.tgz