# License   :   AGPLv3 @ https://pigsty.io/docs/about/license
# Copyright :   2018-2025  Ruohang Feng / Vonng (rh@vonng.com)

#########################################################
# root-ca (self-signed)
#########################################################
files/*.key
files/*.crt
files/pki/*
files/license.lic

#########################################################
# build specs
#########################################################
conf/build/

#########################################################
# binaries
#########################################################
dist/

#########################################################
# vagrant &
#########################################################
# vm files
vagrant/Vagranfile
vagrant/.vagrant
.vagrant/

#########################################################
# terraform
#########################################################
.terraform/
terraform/.terraform/
terraform/*.hcl
terraform/*.tfstate*
terraform/.terraform*

#########################################################
# packages cache
#########################################################
files/bin/
files/*.tgz
files/svg/
files/release/

#########################################################
# project files
#########################################################
# IDE files
.idea/
.code/
.DS_Store

#########################################################
# temp files
#########################################################
/temp/
/archive/
.pigsty/

# shortcut
dashboard.yml
__pycache__/
bin/__pycache__
bin/confgen
test.yml

#########################################################
# image
#########################################################
img/
pigsty.wiki/