#---------------------------------------------------------------------
# Global settings
# Document1: https://www.haproxy.org/download/2.0/doc/configuration.txt
# Document2: https://cbonte.github.io/haproxy-dconv/2.0/configuration.html#timeout%20connect
#---------------------------------------------------------------------
global
    daemon
    user        haproxy
    group       haproxy
    node        {{ pg_cluster }}-haproxy-{{ pg_seq }}
    pidfile     /var/run/haproxy.pid
    # chroot      /var/lib/haproxy          # if chrooted, change stats socket above
    stats socket {{ pg_lb_socket }} user haproxy group haproxy mode 600 level admin

    # spread-checks 3                       # add randomness in check interval
    # quiet                                 # Do not display any message during startup
    maxconn     65535                       # maximum per-process number of concurrent connections


#---------------------------------------------------------------------
# default settings
#---------------------------------------------------------------------
defaults
    # log                global

    mode               tcp
    retries            3            # max retry connect to upstream
    timeout queue      3s           # maximum time to wait in the queue for a connection slot to be free
    timeout connect    3s           # maximum time to wait for a connection attempt to a server to succeed
    timeout client     {{ pg_lb_timeout_client }}           # client connection timeout: {{ pg_lb_timeout_client }}
    timeout server     {{ pg_lb_timeout_server }}           # server connection timeout: {{ pg_lb_timeout_server }}
    timeout check      3s           # health check timeout


#---------------------------------------------------------------------
# default admin users
#---------------------------------------------------------------------
userlist STATS_USERS
        group admin     users {{ pg_lb_admin }}
        user stats  insecure-password {{ pg_lb_password }}
        user {{ pg_lb_admin }}  insecure-password {{ pg_lb_password }}

#---------------------------------------------------------------------
# stats and exporter
#---------------------------------------------------------------------
listen stats                                # both frontend and a backend for statistics
    # option httplog                        # log http activity
    stats realm {{ pg_cluster }}-{{ pg_seq }}-haproxy-{{ inventory_hostname }}

    bind *:{{ pg_lb_admin_port }}  # default haproxy exporter port
    mode  http                              # server in http mode
    stats enable                            # enable stats page on http://localhost:9101/haproxy
    stats uri /                             # stats endpoint
    stats refresh 1m                        # refresh stats page every minute
    stats admin if TRUE                     # admin UI to enable/disable backends

    # stats auth admin:admin                # authentication to stats page
    # acl AuthOkay_ReadOnly http_auth(STATS_USERS)
    # acl AuthOkay_Admin http_auth_group(STATS_USERS) admin
    # stats http-request auth realm admin_page unless AuthOkay_ReadOnly

    # embed prometheus exporter on http://localhost:9101/metrics
    http-request use-service prometheus-exporter if { path /metrics }


#---------------------------------------------------------------------
# cluster routes: primary
# inter fastinter downinter (check interval when up/transition/down)
#---------------------------------------------------------------------
listen {{ pg_cluster }}-primary
    bind *:{{ pg_lb_primary_port }}
    mode tcp
    maxconn 500
    balance {{ pg_lb_policy }}
    option httpchk
    http-check send meth GET uri /primary
    http-check expect status 200
    default-server inter 3s fastinter 1s downinter 5s rise 3 fall 3 on-marked-down shutdown-sessions slowstart 60s maxconn 600 maxqueue 128 weight 100
{% for host in pg_memberships %}
    server {{ host[0] }} {{ host[1] }}:{{ pg_lb_dest_port }} check port {{ pg_lb_check_port }}
{% endfor %}


#---------------------------------------------------------------------
# cluster routes: replica
#---------------------------------------------------------------------
listen {{ pg_cluster }}-replica
    bind *:{{ pg_lb_replica_port }}                       # replica port default 5434
    mode tcp                                # run on tcp mode
    maxconn 500                             # max concurrent connection to replica server
    balance {{ pg_lb_policy }}
    option httpchk
    http-check send meth GET uri /replica
    http-check expect status 200
    default-server inter 3s fastinter 1s downinter 5s rise 3 fall 3 on-marked-down shutdown-sessions slowstart 60s maxconn 600 maxqueue 128 weight 100
{% for host in pg_memberships %}
    server {{ host[0] }} {{ host[1] }}:{{ pg_lb_dest_port }} check port {{ pg_lb_check_port }}
{% endfor %}
