#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log /dev/log    local0                  # log    -> local0
    log /dev/log    local1 notice           # notice -> local1
    chroot      /var/lib/haproxy            # chroot jail
    pidfile     /var/run/haproxy.pid        # pid file
    maxconn     4000                        # max accept connection
    user        haproxy                     # default user
    group       haproxy                     # default group
    daemon                                  # run as daemon mode
    stats socket /var/lib/haproxy/stats     # turn on stats unix socket

#---------------------------------------------------------------------
# default settings
#---------------------------------------------------------------------
defaults
    log                global               # default
    retries            2                    # max retry connect to upstream
    timeout queue      5s                   #
    timeout connect    5s                   # connect timeout
    timeout client     60m                  # keep client connection
    timeout server     600m                 # keep servier connection
    timeout check      15s                  # health check timeout


#---------------------------------------------------------------------
# stats and exporter
#---------------------------------------------------------------------
listen stats                                # both frontend and a backend for statistics
    bind *:9101                             # default haproxy exporter port
    mode  http                              # server in http mode
    option httplog                          # log http activity
    stats enable                            # enable stats page on http://localhost:9101/haproxy
    stats uri /haproxy                      # stats endpoint
    stats refresh 30s                        # refresh stats page every 30 seconds
    stats realm HAProxy                     # Title
    stats admin if TRUE                     # admin UI to enable/disable backends
    # stats auth admin:admin                # authentication to stats page

    # embed prometheus exporter on http://localhost:9101/metrics
    http-request use-service prometheus-exporter if { path /metrics }


#---------------------------------------------------------------------
# cluster routes: primary
#---------------------------------------------------------------------
listen pg-test-primary                      # primary servers frontend-backend
    bind 0.0.0.0:5555                       # primary port 5555
    mode tcp                                # run on tcp mode
    maxconn 500                             # max concurrent connection to primary server
    option tcplog                           # log tcp connection
    option httpchk OPTIONS /primary         # check instance alive and is primary
    http-check expect status 200            # http://<ip>:8008/primary -> 200
    balance roundrobin                      # use leastconn for long-term conn and roundrobin for short-term
    default-server inter 3s fastinter 1s fall 3 rise 4 on-marked-down shutdown-sessions
    server pg-test-1 10.10.10.11:6432 check port 8008
    server pg-test-2 10.10.10.12:6432 check port 8008
    server pg-test-3 10.10.10.13:6432 check port 8008


#---------------------------------------------------------------------
# cluster routes: replica
#---------------------------------------------------------------------
listen pg-test-replica
    bind 0.0.0.0:5556
    mode tcp
    maxconn 6000
    option tcplog
    option httpchk OPTIONS /replica
    http-check expect status 200
    balance leastconn
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg-test-1 10.10.10.11:6432 check port 8008
    server pg-test-2 10.10.10.12:6432 check port 8008
    server pg-test-3 10.10.10.13:6432 check port 8008