{
  "service": {
    "name": "haproxy",
    "port": 9101,
    "tags": [
      "pg",
      "exporter",
      "{{ pg_cluster }}",
      "{{ pg_lb_role }}"
    ],
    "meta": {
      "type": "exporter",
      "seq": "{{ pg_seq }}",
      "lb_role": "{{ pg_lb_role }}",
      "instance": "{{ pg_cluster }}-{{ pg_seq }}",
      "cluster": "{{ pg_cluster }}"
    },
    "check": {
      "tcp": "localhost:9101",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}