{
  "service": {
    "name": "haproxy",
    "port": 9101,
    "tags": [
      "{{ pg_cluster }}",
      "{{ pg_lb_role }}",
      "exporter"
    ],
    "meta": {
      "type": "exporter",
      "seq": "{{ pg_seq }}",
      "lb_role": "{{ pg_lb_role }}",
      "instance": "{{ pg_cluster }}-{{ pg_seq }}",
      "cluster": "{{ pg_cluster }}"
    },
    "check": {
      "tcp": "localhost:9101",
      "interval": "{{ consul_check_interval }}",
      "timeout": "{{ consul_check_timeout }}"
    }
  }
}