{
  "service": {
    "name": "haproxy",
    "port": 9101,
    "tags": [
      "{{ cluster }}",
      "{{ lb_role }}",
      "exporter"
    ],
    "meta": {
      "type": "exporter",
      "seq": "{{ seq }}",
      "lb_role": "{{ lb_role }}",
      "instance": "{{ cluster }}-{{seq}}",
      "cluster": "{{ cluster }}"
    },
    "check": {
      "tcp": "localhost:9101",
      "interval": "{{ consul_check_interval }}",
      "timeout": "{{ consul_check_timeout }}"
    }
  }
}