{
  "service": {
      "name": "{{ pg_cluster }}-replica",
      "port": {{ haproxy_replica_port }},
      "tags": [
        "{{ pg_cluster }}-replica",
        "{{ pg_cluster }}",
        "replica"
      ],
      "meta": {
        "type": "postgres",
        "seq": "{{ pg_seq }}",
        "instance": "{{ pg_cluster }}-{{ pg_seq }}",
        "service": "{{ pg_cluster }}-{{ pg_role }}",
        "cluster": "{{ pg_cluster }}",
        "version": "{{ pg_version }}"
      },
      "check": {
        "tcp": "localhost:{{ haproxy_replica_port }}",
        "interval": "15s",
        "timeout": "1s"
      }
    }
}