{
  "service": {
    "name": "{{ pg_cluster }}-primary",
    "port": {{ haproxy_primary_port }},
    "tags": [
      "{{ pg_cluster }}-primary",
      "{{ pg_cluster }}",
      "primary"
    ],
    "meta": {
      "type": "postgres",
      "seq": "{{ pg_seq }}",
      "instance": "{{ pg_cluster }}-{{ pg_seq }}",
      "service": "{{ pg_cluster }}-{{ pg_role }}",
      "cluster": "{{ pg_cluster }}",
      "version": "{{ pg_version }}"
    },
    "check": {
      "tcp": "localhost:{{ haproxy_primary_port }}",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}