{
  "service": {
    "name": "docker",
    "tags": ["nodes", "exporter"],
    "meta": {
      "type": "docker",
      "seq": "{{ pg_seq }}",
      "instance": "{{ nodename }}",
      "cluster": "{{ node_cluster }}"
    },
    "port": 9323,
    "check": {
      "tcp": "127.0.0.1:9323",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}