{
  "service": {
    "name": "node-exporter",
    "tags": ["nodes", "exporter"],
    "meta": {
      "type": "exporter",
      "seq": "{{ pg_seq }}",
      "instance": "{{ nodename }}",
      "cluster": "{{ node_cluster }}"
    },
    "port": {{ node_exporter_port }},
    "check": {
      "tcp": "127.0.0.1:{{ node_exporter_port }}",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}