{
  "service": {
    "name": "promtail",
    "tags": ["node", "exporter"],
    "meta": {
      "type": "promtail",
      "instance": "{{ nodename }}",
      "cluster": "{{ node_cluster }}"
    },
    "port": {{ promtail_port }},
    "check": {
      "tcp": "127.0.0.1:{{ promtail_port }}",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}