global_defs {
   router_id {{ cluster }}
   enable_script_security
   script_user root
}

vrrp_instance {{ cluster }} {
  state {{ lb_role | upper }}
  interface {{ keepalived_nic }}
  virtual_router_id {{ (cluster | hash('md5'))[0:2] | int(base=16) }}
  priority {% if lb_role == 'master' %}128{% else %}100{% endif %}

  advert_int 1
  unicast_src_ip {{ inventory_hostname }}
  unicast_peer {
{% for host in play_hosts %}
{% if host != inventory_hostname %}     {{ hostvars[host].inventory_hostname }}
{% endif %}
{% endfor %}
  }

  authentication {
    auth_type PASS
    auth_pass {{ cluster }}
  }

  virtual_ipaddress {
    {{ keepalived_vip }}
  }
}