---
#==============================================================#
# File      :   alertmanager.yml
# Ctime     :   2020-12-03
# Mtime     :   2022-12-04
# Desc      :   AlterManager Configuration File
# Path      :   /etc/prometheus/alertmanager.yml
# License   :   AGPLv3 @ https://pigsty.io/docs/about/license
# Copyright :   2018-2025  Ruohang Feng / Vonng (rh@vonng.com)
#==============================================================#

# TODO: CUSTOMIZE ACCORDING TO YOUR OWN ENVIRONMENT !!!

#--------------------------------------------------------------#
# Global
#--------------------------------------------------------------#
global:
  resolve_timeout: 5m


#--------------------------------------------------------------#
# Route
#--------------------------------------------------------------#
# https://prometheus.io/docs/alerting/latest/configuration/#route
route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'web.hook'


#--------------------------------------------------------------#
# Receivers
#--------------------------------------------------------------#
# https://prometheus.io/docs/alerting/latest/configuration/#receiver
receivers:
  - name: 'web.hook'
    # webhook_configs:
    #   - url: 'http://127.0.0.1:5001/'

...