---
#==============================================================#
# File      :   black.yml
# Ctime     :   2022-11-30
# Mtime     :   2022-12-04
# Desc      :   Blackbox Exporter Probes
# Path      :   /etc/blackbox_exporter.yml
# Author    :   Ruohang Feng (rh@vonng.com)
# License   :   AGPLv3
#==============================================================#

modules:
  icmp:
    prober: icmp
  icmp_ttl5:
    prober: icmp
    timeout: 5s
    icmp:
      ttl: 5
  http_2xx:
    prober: http
  http_post_2xx:
    prober: http
    http:
      method: POST
  tcp_connect:
    prober: tcp
...