---
{% if nginx_enabled|bool %}
#--------------------------------------------------------------#
# Nginx (Exporter @ 9113)
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: nginx-{{ infra_seq }}, cls: nginx }
  targets: [ {{ inventory_hostname }}:9113 ]
{% endif %}

{% if prometheus_enabled|bool %}
#--------------------------------------------------------------#
# Prometheus (9090)
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: prometheus-{{ infra_seq }}, cls: prometheus }
  targets: [ {{ inventory_hostname }}:9090 ]
{% endif %}

{% if pushgateway_enabled|bool %}
#--------------------------------------------------------------#
# PushGateway (9091)
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: pushgateway-{{ infra_seq }}, cls: pushgateway }
  targets: [ {{ inventory_hostname }}:9091 ]
{% endif %}

{% if alertmanager_enabled|bool %}
#--------------------------------------------------------------#
# AlertManager (9093)
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: alertmanager-{{ infra_seq }}, cls: alertmanager }
  targets: [ {{ inventory_hostname }}:9093 ]
{% endif %}

{% if blackbox_enabled|bool %}
#--------------------------------------------------------------#
# BlackboxExporter (9115)
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: blackbox-{{ infra_seq }}, cls: blackbox }
  targets: [ {{ inventory_hostname }}:9115 ]
{% endif %}

{% if grafana_enabled|bool %}
#--------------------------------------------------------------#
# Grafana (3000)
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: grafana-{{ infra_seq }}, cls: grafana }
  targets: [ {{ inventory_hostname }}:3000 ]
{% endif %}

{% if loki_enabled|bool %}
#--------------------------------------------------------------#
# Loki (3100)
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: loki-{{ infra_seq }}, cls: loki }
  targets: [ {{ inventory_hostname }}:3100 ]
{% endif %}

...