services:
  nocodb:
    container_name: nocodb
    image: nocodb/nocodb:latest
    environment:
      DATABASE_URL: "${DATABASE_URL}"
      NC_AUTH_JWT_SECRET: "${NC_AUTH_JWT_SECRET}"
    restart: always
    ports:
      - ${NC_PORT}:8080
    volumes:
      - /data/nocodb:/usr/app/data/
