{
  "service": {
    "name": "loki",
    "tags": ["infra", "loki", "exporter"],
    "meta": {"type": "loki"},
    "port": 3100,
    "check": {
      "tcp": "127.0.0.1:3100",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}