{
  "service": {
    "name": "grafana",
    "tags": ["infra", "grafana"],
    "meta": {"type": "grafana"},
    "port": 3000,
    "check": {
      "tcp": "127.0.0.1:3000",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}