<html lang="en">
<head><title>Pigsty Home</title></head>
<br>
<body><h1>PIGSTY -- Postgres In Graphic STYle</h1>
<div>
    <ul>
        <li><h2><a href="http://{{ consul_domain_name }}">Consul</a></h2></li>
        <li><h2><a href="http://{{ grafana_domain_name }}">Grafana</a></h2></li>
        <li><h2><a href="http://{{ prometheus_domain_name }}">Prometheus</a></h2></li>
        <li><h2><a href="http://{{ alertmanager_domain_name }}">AlertManager</a></h2></li>
        <li><h2><a href="http://{{ repo_host }}">Yum Repo</a></h2></li>
    </ul>
</div>
</body>
</html>