{
  "exec-opts": ["native.cgroupdriver={{ docker_cgroups_driver }}"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "storage-driver": "overlay2",
  "metrics-addr" : "{{ inventory_hostname }}:9323",
  "experimental" : true,
  "registry-mirrors" : {{ docker_registry_mirrors | to_json }}
}