---
#==============================================================#
# File      :   dashboard.yml
# Mtime     :   2022-12-04
# Desc      :   Grafana Dashboard Provisioner Definition
# Path      :  /etc/grafana/provisioning/dashboards/pigsty.yml
# License   :   AGPLv3 @ https://pigsty.io/docs/about/license
# Copyright :   2018-2024  Ruohang Feng / Vonng (rh@vonng.com)
#==============================================================#

# load dashboards from /etc/dashboards
apiVersion: 1
providers:

  - name: Pigsty
    orgId: 1
    type: file
    updateIntervalSeconds: 8
    allowUiUpdates: true
    options:
      path: /etc/dashboards/
      foldersFromFilesStructure: true
...