---
#==============================================================#
# File      :   datasource.yml
# Mtime     :   2022-12-04
# Desc      :   Grafana Data Source Provisioner Definition
# Path      :  /etc/grafana/provisioning/datasources/pigsty.yml
# License   :   AGPLv3
# Author    :   Ruohang Feng (rh@vonng.com)
# License   :   AGPLv3
#==============================================================#

apiVersion: 1

# remove provisioned data sources
deleteDatasources:
  - { name: Prometheus , orgId: 1 }
  - { name: Meta       , orgId: 1 }
  - { name: Loki       , orgId: 1 }

# install following data sources
datasources:

  # Pigsty Monitor Database (Prometheus)
  - name: Prometheus
    uid: ds-prometheus
    type: prometheus
    url: http://127.0.0.1:9090
    access: proxy
    isDefault: true
    editable: true
    version: 1
    jsonData:
      timeInterval: "2s"
      queryTimeout: "60s"
      tlsAuth: false
      tlsAuthWithCACert: false
    secureJsonData: {}

  # Pigsty Meta Database (PostgreSQL)
  - name: Meta
    type: postgres
    uid: ds-meta
    url: 127.0.0.1:5432
    access: proxy
    user: dbuser_view
    database: meta
    editable: true
    jsonData: {
      "database": "meta",
      "connMaxLifetime": 14400,
      "maxIdleConns": 10,
      "maxOpenConns": 64,
      "postgresVersion": {{ pg_version }}00,
      "sslmode": "require",
      "tlsAuth": false,
      "tlsAuthWithCACert": false
    }
    secureJsonData:
      password: DBUser.Viewer

  # Pigsty Logging Database (Loki)
  - name: Loki
    type: loki
    uid: ds-loki
    url: http://127.0.0.1:3100
    access: proxy
    editable: true
...