# human-readable name for this etcd instance
name: {{ dcs_nodename }}

data-dir: {{ etcd_data_dir }}

initial-cluster-token: "{{ dcs_name }}"

# establish a new cluster
initial-cluster-state: "new"

{% if dcs_ssl_enabled is defined and dcs_ssl_enabled|bool %}
initial-advertise-peer-urls: https://{{ inventory_hostname }}:2380
listen-peer-urls: https://{{ inventory_hostname }}:2380
listen-client-urls: "https://{{ inventory_hostname }}:2379,https://127.0.0.1:2379"
advertise-client-urls: https://{{ inventory_hostname }}:2379
initial-cluster: "{% for k,v in dcs_servers.items() %}{% if not loop.first %},{% endif %}{{ k }}=https://{{ v }}:2380{% endfor %}"

# TLS Config
client-transport-security:
  cert-file: "/var/lib/etcd/etcd-{{ dcs_nodename }}.crt"
  key-file: "/var/lib/etcd/etcd-{{ dcs_nodename }}.key"
  trusted-ca-file: "/var/lib/etcd/ca.crt"
peer-transport-security:
  cert-file: "/var/lib/etcd/etcd-{{ dcs_nodename }}.crt"
  key-file: "/var/lib/etcd/etcd-{{ dcs_nodename }}.key"
  trusted-ca-file: "/var/lib/etcd/ca.crt"

{% else %}
initial-advertise-peer-urls: http://{{ inventory_hostname }}:2380
listen-peer-urls: http://{{ inventory_hostname }}:2380
listen-client-urls: "http://{{ inventory_hostname }}:2379,http://127.0.0.1:2379"
advertise-client-urls: http://{{ inventory_hostname }}:2379
initial-cluster: "{% for k,v in dcs_servers.items() %}{% if not loop.first %},{% endif %}{{ k }}=http://{{ v }}:2380{% endfor %}"

{% endif %}