name: {{ dcs_nodename }}
data-dir: /var/lib/etcd/data
initial-advertise-peer-urls: http://{{ inventory_hostname }}:2380
listen-peer-urls: http://{{ inventory_hostname }}:2380
listen-client-urls: "http://{{ inventory_hostname }}:2379,http://localhost:2379"
advertise-client-urls: http://{{ inventory_hostname }}:2379
initial-cluster: "{{ etcd_cluster }}"