MINIO_OPTS="--address :{{ minio_port }} --console-address :{{ minio_admin_port }} --certs-dir /etc/minio"
MINIO_VOLUMES="{{ minio_volumes }}"
MINIO_ROOT_USER="{{ minio_access_key }}"
MINIO_ROOT_PASSWORD="{{ minio_secret_key }}"
MINIO_PROMETHEUS_AUTH_TYPE=public

{{ minio_extra_vars }}