MINIO_OPTS="--address {{ minio_address }} --console-address {{ minio_console }} --certs-dir /etc/minio"
MINIO_VOLUMES="{{ minio_data | join(' ') }}"
MINIO_ROOT_USER="{{ minio_access_key }}"
MINIO_ROOT_PASSWORD="{{ minio_secret_key }}"
MINIO_PROMETHEUS_AUTH_TYPE=public

{{ minio_extra_vars }}