---
#--------------------------------------------------------------#
# Register infra service to prometheus
#--------------------------------------------------------------#
- name: render infra targets for prometheus
  tags: [ infra_register, register_prometheus ]
  ignore_errors: true
  delegate_to: '{{ item }}'
  with_items: '{{ groups["infra"] }}'
  template: src=infra.yml.j2 dest=/etc/prometheus/targets/infra/infra-{{ infra_seq }}.yml owner=prometheus mode=0644

...