{% if pgbouncer_exporter_url != '' %}
PG_EXPORTER_URL='{{ pgbouncer_exporter_url }}
{% else %}
PG_EXPORTER_URL='postgres://{{ pg_monitor_username }}:{{ pg_monitor_password }}@:{{ pgbouncer_port }}/pgbouncer?host={{ pg_localhost }}&sslmode=disable'
{% endif %}
PG_EXPORTER_CONFIG=/etc/pg_exporter.yml
PG_EXPORTER_LISTEN_ADDRESS=":{{ pgbouncer_exporter_port }}"
PG_EXPORTER_TELEMETRY_PATH="{{ exporter_metrics_path }}"
PG_EXPORTER_DISABLE_CACHE=false
PG_EXPORTER_AUTO_DISCOVERY=false
PG_EXPORTER_CONNECT_TIMEOUT=100
# PG_EXPORTER_OPTS='--log.level=info --log.format="logger:syslog?appname=pgbouncer_exporter&local=7"'
PG_EXPORTER_OPTS={{ pgbouncer_exporter_options }}
