{
  "service": {
    "name": "nginx",
    "tags": ["meta"],
    "meta": {"type": "nginx"},
    "port": 80,
    "check": {
      "tcp": "localhost:80",
      "interval": "{{ dcs_check_interval }}",
      "timeout": "{{ dcs_check_timeout  }}"
    }
  }
}