{% if pgbouncer_exporter_url != '' %}
PG_EXPORTER_URL='{{ pgbouncer_exporter_url }}
{% else %}
PG_EXPORTER_URL='postgres://{{ pg_monitor_username }}:{{ pg_monitor_password }}@:{{ pgbouncer_port }}/pgbouncer?host={{ pg_localhost }}&sslmode=disable'
{% endif %}
PG_EXPORTER_CONFIG=/etc/pg_exporter.yml
PG_EXPORTER_TELEMETRY_PATH="{{ exporter_metrics_path }}"
PG_EXPORTER_DISABLE_CACHE=false
PG_EXPORTER_AUTO_DISCOVERY=false
PG_EXPORTER_CONNECT_TIMEOUT={{ pg_exporter_connect_timeout }}
{% if pgbouncer_exporter_options != '' %}
PG_EXPORTER_OPTS='--web.listen-address=:{{ pgbouncer_exporter_port }} {{ pgbouncer_exporter_options }}'
{% else %}
PG_EXPORTER_OPTS='--web.listen-address=:{{ pgbouncer_exporter_port }} --log.level=info --log.format=logfmt'
{% endif %}