# https://hub.docker.com/_/odoo
# please change the credentials in .env file!

services:
  odoo:
    container_name: odoo
    image: odoo:17.0
    ports:
      - "${ODOO_PORT}:8069"
    environment:
      - HOST=${PG_HOST}
      - PORT=${PG_PORT}
      - USER=${PG_USER}
      - PASSWORD=${PG_PASS}
    #volumes:
    #- ./addons:/mnt/extra-addons
    #- ${ODOO_DATA}:/var/lib/odoo
    #- ./config:/etc/odoo