---
#------------------------------------------------------------------------------
# Dnsmasq
#------------------------------------------------------------------------------
- name: Setup dnsmasq service
  tags: nameserver
  block:

    # - install - #
    - name: Make sure dnsmasq package installed
      package: name=dnsmasq state=present

    # - config - #
    - name: Copy dnsmasq /etc/dnsmasq.d/config
      template: src=dnsmasq.conf.j2 dest=/etc/dnsmasq.d/config

    # - record - #
    - name: Add dynamic dns records to meta
      lineinfile: path=/etc/hosts line="{{ item }}"
      with_items: "{{ dns_records }}"

    # - launch - #
    - name: Launch meta dnsmasq service
      systemd: name=dnsmasq state=restarted enabled=yes daemon_reload=yes

    # - wait - #
    - name: Wait for meta dnsmasq online
      wait_for: host=localhost port=53 state=started


#------------------------------------------------------------------------------
# Register Dnsmasq Service
#------------------------------------------------------------------------------
- name: Register dnsmasq service
  tags: nameserver
  when: dcs_registry == 'consul'
  ignore_errors: true
  block:
    # - register - #
    - name: Register consul dnsmasq service
      template: src=svc-dnsmasq.json.j2 dest=/etc/consul.d/svc-dnsmasq.json owner=consul mode=0660

    # - reload - #
    - name: Reload consul
      systemd: name=consul state=reloaded enabled=yes daemon_reload=yes

...