<html lang="en">
<head><title>Pigsty HAProxy</title></head>
<br>
<body><h1>PIGSTY HAPROXY Index</h1>
<div>
    <ul>

        {% for proxy in haproxy_instances %}
        <li>
            <a href="/{{ proxy.cluster }}-{{ proxy.seq }}/"><h2>  {{ proxy.cluster }}-{{ proxy.seq }} </h2></a>
            <code>http://{{ proxy.ip }}:{{ proxy.port }}  Cluster: {{ proxy.cluster }} Role: {{ proxy.role }})</code>
        </li>
        {% endfor %}

    </ul>
</div>
</body>
</html>