<html lang="en">
<head><title>Pigsty Home</title></head>
<br>
<body><h1>PIGSTY -- Postgres In Graphic STYle</h1>
<div>
    <ul>
        {% for item in nginx_upstream %}
        <li><h2><a href="http://{{ item.host }}">{{ item.name }}</a></h2></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>