{
  "service": {
    "name": "nginx",
    "tags": ["meta"],
    "meta": {"type": "nginx"},
    "port": 80,
    "check": {
      "tcp": "localhost:80",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}