{
  "service": {
    "name": "nginx-exporter",
    "tags": ["infra", "exporter"],
    "meta": {"type": "exporter"},
    "port": 9113,
    "check": {
      "http": "http://127.0.0.1:9113/",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}