{
  "service": {
    "name": "nginx-exporter",
    "tags": ["meta", "exporter"],
    "meta": {"type": "exporter"},
    "port": 9113,
    "check": {
      "http": "http://localhost:9113/",
      "interval": "{{ consul_check_interval }}",
      "timeout": "{{ consul_check_timeout  }}"
    }
  }
}