{% set vip_cluster_members = hostvars|json_query(vip_cluster_members_query) %}

global_defs {
  router_id {{ vip_cluster }}
   enable_script_security
   script_user root
}

vrrp_instance {{ vip_cluster }} {
  state {{ vip_role | upper }}
  interface {{ vip_interface }}
  virtual_router_id {{ vip_vrid }}
  priority {% if vip_role|upper == 'MASTER' %}128{% else %}100{% endif %}

  advert_int 1
  unicast_src_ip {{ inventory_hostname }}
  unicast_peer {

{% for host in vip_cluster_members %}
{% if host.inventory_hostname != inventory_hostname %}     {{ host.inventory_hostname }}
{% endif %}
{% endfor %}

  }

  authentication {
    auth_type PASS
    auth_pass {{ vip_cluster }}
  }

  virtual_ipaddress {
    {{ vip_address }}
  }

}