---
#==============================================================#
# File      :   patronictl.yml
# Desc      :   init postgres cluster/instance
# Ctime     :   2020-05-12
# Mtime     :   2022-12-04
# Path      :   /etc/pigsty/patronictl.yml
# License   :   AGPLv3
# Author    :   Ruohang Feng (rh@vonng.com)
# License   :   AGPLv3
#==============================================================#
# {{ ansible_managed }}

#--------------------------------------------------------------#
# dcs: etcd
#--------------------------------------------------------------#
namespace: {{ pg_namespace }}/          # namespace
etcd3:
{% if 'etcd' in groups %}
  hosts: '{% for ip in groups['etcd']|sort %}{% if not loop.first %},{% endif %}{{ ip }}:{{ etcd_port }}{% endfor %}'
{% else %}
  hosts: '{{ admin_ip|default('10.10.10.10') }}:2379'
{% endif %}
  protocol: https
  cacert: /etc/pki/ca.crt
  cert:   /etc/pki/infra.crt
  key:    /etc/pki/infra.key

#--------------------------------------------------------------#
# api
#--------------------------------------------------------------#
# how to expose patroni service
# listen on all ipv4, connect via public ip
restapi:
  listen: 0.0.0.0:{{ patroni_port }}
  connect_address: {{ inventory_hostname }}:{{ patroni_port }}
{% if patroni_ssl_enabled|bool %}
  insecure: false
  cacert:    '/etc/pki/ca.crt'
  certfile: '/etc/pki/infra.crt'
  keyfile:  '/etc/pki/infra.key'
{% endif %}
  # unsafe api can only been accessed from meta nodes with auth
  authentication:
    verify_client: optional  # none|optional|required
    username: '{{ patroni_username }}'
    password: '{{ patroni_password }}'
  allowlist: [ {% for v in groups["infra"]|sort %}{% if not loop.first %}, {% endif %}{{ v }}{% endfor %} ]

#--------------------------------------------------------------#
# ctl
#--------------------------------------------------------------#
ctl:
{% if patroni_ssl_enabled|bool %}
  insecure: false
  cacert:   '/etc/pki/ca.crt'
  certfile: '/etc/pki/infra.crt'
  keyfile:  '/etc/pki/infra.key'
{% else %}
  insecure: true
{% endif %}
