#!/bin/bash
# {{ ansible_managed }}

# set default user and dbname for postgresql
export PGUSER={{ pg_admin_username }}
export PGDATABASE=postgres
export METADB_URL="service=meta"

# grafana environment
export GRAFANA_ENDPOINT=http://{{ infra_portal.grafana.endpoint|replace('${admin_ip}', admin_ip ) }}
export GRAFANA_USERNAME={{ grafana_admin_username }}
export GRAFANA_PASSWORD={{ grafana_admin_password }}
export USE_HTTPS={{ use_https }}
export INFRA_PORTAL={{ portals }}

# export PIGSTY_HOME if exists on home dir
if [[ -d ~/pigsty ]]; then
  export PIGSTY_HOME="${HOME}/pigsty"
fi
