{
  "service": {
    "name": "grafana",
    "tags": ["meta", "exporter"],
    "meta": {"type": "grafana"},
    "port": 3000,
    "check": {
      "tcp": "localhost:3000",
      "interval": "{{ dcs_check_interval }}",
      "timeout": "{{ dcs_check_timeout  }}"
    }
  }
}