# THIS FILE IS FOR PGBOUNCER HBA, DO NOT CHANGE
# FILE PATH: /etc/pgbouncer/pgb_hba.conf

# local admin access
local  pgbouncer postgres                                   peer

# local/host monitor access
local  pgbouncer    {{ pg_monitor_username }}               md5
host   pgbouncer    {{ pg_monitor_username }}   0.0.0.0/0   md5
host   pgbouncer    {{ pg_monitor_username }}   ::0/0       md5

# biz_user anywhere password access
local  all          {{ pg_default_username }}               md5
host   all          {{ pg_default_username }}   0.0.0.0/0   md5
host   all          {{ pg_default_username }}   ::0/0       md5
