{
  "type": "postgres",
  "access": "proxy",
  "name": "{{ pg_instance }}",
  "url": "{{ inventory_hostname }}:{{ pg_port }}",
  "user": "{{ pg_monitor_username }}",
  "password": "{{ pg_monitor_password }}",
  "database": "{{ pg_default_database }}",
  "typeLogoUrl": "",
  "basicAuth": false,
  "basicAuthUser": "",
  "basicAuthPassword": "",
  "withCredentials": false,
  "isDefault": false,
  "jsonData": {
    "connMaxLifetime": 3600,
    "maxIdleConns": 1,
    "maxOpenConns": 8,
    "postgresVersion": 1300,
    "sslmode": "disable",
    "tlsAuth": false,
    "tlsAuthWithCACert": false
  }
}