# -*- mode: conf -*-

[Unit]
Description=Promtail Log Agent
Documentation=https://grafana.com/docs/loki/latest/clients/promtail/
After=network.target

[Service]
User=root
EnvironmentFile=-/etc/default/promtail
ExecStart=/usr/bin/promtail $PROMTAIL_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target