# -*- mode: conf -*-

[Unit]
Description=Promtail Log Agent
Documentation=https://grafana.com/docs/loki/latest/clients/promtail/
After=network.target

[Service]
User=root
ExecStart=/usr/bin/promtail -config.file=/etc/promtail.yml
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target