{
  "service": {
    "name": "grafana",
    "tags": ["meta", "exporter"],
    "meta": {"type": "grafana"},
    "port": 3000,
    "check": {
      "tcp": "localhost:3000",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}