# sysctl settings are defined through files in
# /usr/lib/sysctl.d/, /run/sysctl.d/, and /etc/sysctl.d/.
#
# Vendors settings live in /usr/lib/sysctl.d/.
# To override a whole file, create a new file with the same in
# /etc/sysctl.d/ and put new settings there. To override
# only specific settings, add a file with a lexically later
# name in /etc/sysctl.d/ and put new settings there.
#
# For more information, see sysctl.conf(5) and sysctl.d(5).

kernel.pid_max=131072
kernel.shmmni=16384
kernel.msgmni=32768
kernel.msgmnb=65536
kernel.msgmax=65536
kernel.numa_balancing=0
kernel.sem=2048 134217728 2048 65536
vm.dirty_ratio=80
vm.dirty_background_bytes=268435456
vm.dirty_expire_centisecs=6000
vm.dirty_writeback_centisecs=500
vm.mmap_min_addr=65536
vm.zone_reclaim_mode=0
vm.swappiness=0
vm.overcommit_memory=2
vm.overcommit_ratio=95
net.ipv4.tcp_rmem=8192 65536 16777216
net.ipv4.tcp_wmem=8192 65536 16777216
net.ipv4.tcp_mem=131072 262144 16777216
net.core.rmem_default=262144
net.core.rmem_max=4194304
net.core.wmem_default=262144
net.core.wmem_max=4194304
net.ipv4.tcp_keepalive_intvl=20
net.ipv4.tcp_keepalive_probes=3
net.ipv4.tcp_keepalive_time=60
net.ipv4.tcp_tw_reuse=1
net.ipv4.tcp_tw_recycle=0
net.ipv4.tcp_fin_timeout=5
net.ipv4.tcp_timestamps=1
net.ipv4.tcp_syncookies=0
net.ipv4.tcp_synack_retries=1
net.ipv4.tcp_syn_retries=1
net.ipv4.ip_forward=1
net.ipv4.ip_nonlocal_bind=1
net.netfilter.nf_conntrack_max=1048576
net.ipv4.ip_local_port_range=32768 65000
net.ipv4.tcp_max_tw_buckets=262144
net.core.somaxconn=65535
net.ipv4.tcp_max_syn_backlog=8192
net.core.netdev_max_backlog=8192
net.ipv4.neigh.default.gc_thresh1=80000
net.ipv4.neigh.default.gc_thresh2=90000
net.ipv4.neigh.default.gc_thresh3=100000
fs.aio-max-nr=1048576
fs.file-max=167772160
fs.inotify.max_user_watches=1048576
fs.inotify.max_user_instances=1024
