{
  "service": {
    "name": "patroni",
    "port": {{ patroni_port }},
    "tags": [
      "{{ pg_role }}",
      "{{ pg_cluster }}"
    ],
    "meta": {
      "type": "patroni",
      "role": "{{ pg_role }}",
      "seq": "{{ pg_seq }}",
      "instance": "{{ pg_instance }}",
      "service": "{{ pg_service }}",
      "cluster": "{{ pg_cluster }}",
      "version": "{{ pg_version }}"
    },
    "check": {
      "tcp": "localhost:{{ patroni_port }}",
      "interval": "{{ consul_check_interval }}",
      "timeout": "{{ consul_check_timeout }}"
    }
  }
}