[Unit]
Description=Redis Server@:%i  {{ redis_cluster }}@{{ inventory_hostname }}:%i
Documentation=https://redis.io/documentation
#AssertPathExists=/var/log/redis
#AssertPathExists=/var/run/redis
#AssertPathExists={{ redis_fs_main }}/redis/%i
AssertPathExists=/etc/redis/%i.conf

[Service]
ExecStart=/bin/redis-server /etc/redis/%i.conf --daemonize no --supervised systemd
ExecStop=/usr/libexec/redis-shutdown %i
#ExecStop=/bin/redis-cli -p %i shutdown
WorkingDirectory={{ redis_fs_main }}/redis/%i
PIDFile=/var/run/redis/redis-%i.pid
LimitNOFILE=10032
TimeoutStartSec=60s
TimeoutStopSec=60s
UMask=0077
User=redis
Group=redis
Restart=on-failure

[Install]
WantedBy=multi-user.target-t