---
#-----------------------------------------------------------------
# REPO
#-----------------------------------------------------------------
repo_enabled: true                # create local yum repo on this infra node?
repo_home: /www                   # repo home dir, /www by default
repo_name: pigsty                 # repo name, pigsty by default
repo_endpoint: http://${admin_ip}:80 # access point to this repo by domain or ip:port
repo_remove: true                 # remove existing upstream repo
repo_modules: infra,node,pgsql    # which repo modules are installed in repo_upstream
#repo_upstream: []                # this default vault is pick from repo_upstream_default according to `os_package` if not explicitly defined
#repo_packages: []                # default packages to be downloaded to local repo, use repo_upstream_default if not explicitly defined
repo_extra_packages: []           # extra packages to be downloaded to local repo
repo_url_packages:                # extra packages from url
  - { name: "pev.html"    ,url: "https://repo.pigsty.io/etc/pev-1.11.0.html"    }
  - { name: "chart.tgz"   ,url: "https://repo.pigsty.io/etc/chart-1.0.0.tgz"    }
  - { name: "plugins.tgz" ,url: "https://repo.pigsty.io/etc/plugins-11.1.4.tgz" }

#-----------------------------------------------------------------
# INTERNAL
#-----------------------------------------------------------------
repo_exists: false
#-----------------------------------------------------------------
# META (Reference)
#-----------------------------------------------------------------
version: v3.0.0                   # pigsty version string
region: default                   # choose a region from where to download repo pkgs: default|china|europe
proxy_env:                        # global proxy env when downloading packages
  no_proxy: "localhost,127.0.0.1,10.0.0.0/8,192.168.0.0/16,*.pigsty,*.aliyun.com,mirrors.*,*.myqcloud.com,*.tsinghua.edu.cn"
#-----------------------------------------------------------------
# NGINX (Reference)
#-----------------------------------------------------------------
nginx_port: 80                    # nginx listen port, 80 by default
nginx_home: /www                  # default nginx content home dir
...