{
  "service": {
    "name": "{{ pg_cluster }}-{{ service.name }}",
    "port": {{ service.src_port }},
    "tags": [
      "{{ pg_cluster }}-{{ service.name }}",
      "{{ pg_cluster }}",
      "{{ service.name }}"
    ],
    "meta": {
      "type": "postgres",
      "seq": "{{ pg_seq }}",
      "instance": "{{ pg_cluster }}-{{ pg_seq }}",
      "service": "{{ pg_cluster }}-{{ service.name }}",
      "cluster": "{{ pg_cluster }}",
      "version": "{{ pg_version }}"
    },
    "check": {
      "tcp": "127.0.0.1:{{ service.src_port }}",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}