{
  "service": {
    "name": "pgbouncer-exporter",
    "port": {{ pgbouncer_exporter_port }},
    "tags": [
        "pg",
        "exporter",
        "pgbouncer-exporter"
    ],
    "meta": {
      "type": "exporter",
      "role": "{{ pg_role }}",
      "seq": "{{ pg_seq }}",
      "instance": "{{ pg_instance }}",
      "service": "{{ pg_service }}",
      "cluster": "{{ pg_cluster }}"
    },
    "check": {
      "http": "http://{{ inventory_hostname }}:{{ pgbouncer_exporter_port }}/",
      "interval": "{{ consul_check_interval }}",
      "timeout": "{{ consul_check_timeout }}"
    }
  }
}