[Unit]
Description=PostgreSQL {{ version }} database server
Documentation=https://www.postgresql.org/docs/{{ version }}/static/
After=syslog.target
After=network.target

[Service]
LimitNOFILE=16777216
LimitNPROC=infinity
LimitCORE=infinity
Type=notify
User=postgres
Group=postgres
Environment=PGDATA=/pg/data
OOMScoreAdjust=-1000
Environment=PG_OOM_ADJUST_FILE=/proc/self/oom_score_adj
Environment=PG_OOM_ADJUST_VALUE=0

ExecStartPre=/usr/pgsql-{{ version }}/bin/postgresql-{{ version }}-check-db-dir ${PGDATA}
ExecStart=/usr/pgsql-{{ version }}/bin/postmaster -D ${PGDATA}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=0

[Install]
WantedBy=multi-user.target