{
  "datacenter": "pigsty",
  "node_name": "{{ ansible_nodename }}",
  "data_dir": "/var/lib/consul",
  "bind_addr": "{{ inventory_hostname }}",
  "retry_join": {{ consul_servers | to_json }},
  "log_level": "INFO",
  "enable_local_script_checks": true
}