#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log /dev/log    local0
    log /dev/log    local1 notice

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats
    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

#---------------------------------------------------------------------
# default settings
#---------------------------------------------------------------------
defaults
    mode               tcp
    log                global
    retries            2
    timeout queue      5s
    timeout connect    5s
    timeout client     60m
    timeout server     60m
    timeout check      15s


#---------------------------------------------------------------------
# stats and exporter
#---------------------------------------------------------------------
listen stats
    bind *:9101
    mode  http
    stats enable
    stats uri /stats
    stats refresh 1s
    http-request use-service prometheus-exporter if { path /metrics }


#---------------------------------------------------------------------
# cluster routes: primary
#---------------------------------------------------------------------
listen {{ cluster }}-primary
    bind 0.0.0.0:{{ lb_primary_port }}
    mode tcp
    maxconn 2000
    option tcplog
    option httpchk OPTIONS /primary
    http-check expect status 200
    balance roundrobin
    default-server inter 3s fastinter 1s fall 3 rise 4 on-marked-down shutdown-sessions
{% for host in play_hosts %}
    server {{ hostvars[host].instance_name }} {{ hostvars[host].inventory_hostname }}:6432 check port 8008
{% endfor %}


#---------------------------------------------------------------------
# cluster routes: replica
#---------------------------------------------------------------------
listen {{ cluster }}-replica
    bind 0.0.0.0:{{ lb_replica_port }}
    mode tcp
    maxconn 6000
    option tcplog
    option httpchk OPTIONS /replica
    http-check expect status 200
    balance roundrobin
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
{% for host in play_hosts %}
    server {{ hostvars[host].instance_name }} {{ hostvars[host].inventory_hostname }}:6432 check port 8008
{% endfor %}