{
  "service": {
    "name": "pgbouncer",
    "port": {{ pgbouncer_port }},
    "tags": [
      "pgsql",
      "{{ pg_cluster }}"
    ],
    "meta": {
      "type": "pgbouncer",
      "seq": "{{ pg_seq }}",
      "instance": "{{ pg_cluster }}-{{ pg_seq }}",
      "cluster": "{{ pg_cluster }}"
    },
    "check": {
      "tcp": "127.0.0.1:{{ pgbouncer_port }}",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}