{
  "service": {
    "name": "haproxy",
    "port": {{ haproxy_exporter_port }},
    "tags": [
      "pgsql",
      "exporter",
      "{{ pg_cluster }}"
    ],
    "meta": {
      "type": "exporter",
      "seq": "{{ pg_seq }}",
      "instance": "{{ pg_cluster }}-{{ pg_seq }}",
      "cluster": "{{ pg_cluster }}"
    },
    "check": {
      "tcp": "127.0.0.1:{{ haproxy_exporter_port }}",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}