{
  "service": {
    "name": "pgbouncer-exporter",
    "port": {{ pgbouncer_exporter_port }},
    "tags": [
      "pgsql",
      "exporter",
      "pgbouncer-exporter"
    ],
    "meta": {
      "type": "exporter",
      "seq": "{{ pg_seq }}",
      "instance": "{{ pg_cluster }}-{{ pg_seq }}",
      "cluster": "{{ pg_cluster }}"
    },
    "check": {
      "http": "http://{{ inventory_hostname }}:{{ pgbouncer_exporter_port }}/",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}