[Unit]
Description=Manages Virtual IP for Patroni
Before=patroni.service

[Service]
Type=simple

ExecStart=/usr/bin/vip-manager -config=/etc/default/vip-manager.yml

Restart=on-failure

[Install]
WantedBy=multi-user.target