[Unit]
Description=Manages Virtual IP for Patroni

[Service]
Type=simple
ExecStart=/usr/bin/vip-manager --config=/etc/default/vip-manager.yml
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target