---
#-------------------------------------------------------------------------
# Firewall & SELinux
#-------------------------------------------------------------------------
- name: Disable node firewall
  tags: node_firewall
  ignore_errors: true
  block:
    # - disable firewall - #
    - name: Node configure disable firewall
      when: node_disable_firewall|bool
      systemd: name=firewalld state=stopped enabled=no

    # - disable selinux - #
    - name: Node disable selinux by default
      when: node_disable_selinux|bool
      selinux: state=disabled
...
