{% if repo_region == 'default' %}
{% if os_version|int >= 8 %}
[appstream]
name=AlmaLinux $releasever - AppStream
baseurl=https://repo.almalinux.org/almalinux/$releasever/AppStream/$basearch/os/
gpgcheck=0

[baseos]
name=AlmaLinux $releasever - BaseOS
baseurl=https://repo.almalinux.org/almalinux/$releasever/BaseOS/$basearch/os/
gpgcheck=0

[extras]
name=AlmaLinux $releasever - Extras
baseurl=https://repo.almalinux.org/almalinux/$releasever/extras/$basearch/os/
gpgcheck=0
{% endif %}

{% if os_version|int == 8 %}
[powertools]
name=AlmaLinux $releasever - PowerTools
baseurl=https://repo.almalinux.org/almalinux/$releasever/extras/$basearch/os/
gpgcheck=0
{% endif %}

{% if os_version|int == 9 %}
[crb]
name=AlmaLinux $releasever - CRB
baseurl=https://repo.almalinux.org/almalinux/$releasever/CRB/$basearch/os/
gpgcheck=0
{% endif %}
{% endif %}
