{% if repo_region == 'default' %}
{% if os_version|int == 7 %}
[base]
name=CentOS-$releasever - Base
baseurl=http://mirror.centos.org/centos/$releasever/os/$basearch/
gpgcheck=0

[updates]
name=CentOS-$releasever - Updates
baseurl=https://mirror.centos.org/centos/$releasever/updates/$basearch/
gpgcheck=0

[extras]
name=CentOS-$releasever - Extras
baseurl=http://mirror.centos.org/centos/$releasever/extras/$basearch/
gpgcheck=0

[centos-sclo-sclo]
name=CentOS-$releasever - SCLo sclo
baseurl=http://mirror.centos.org/centos/$releasever/sclo/$basearch/sclo/
gpgcheck=0

[centos-sclo-rh]
name=CentOS-$releasever - SCLo rh
baseurl=http://mirror.centos.org/centos/$releasever/sclo/$basearch/rh/
gpgcheck=0
{% endif %}
{% elif repo_region == 'china' %}
{% if os_version|int == 7 %}
[base]
name=CentOS-$releasever - Base
baseurl=https://mirrors.tuna.tsinghua.edu.cn/centos/$releasever/os/$basearch/
baseurl=http://mirrors.aliyun.com/centos/$releasever/os/$basearch/
gpgcheck=0

[updates]
name=CentOS-$releasever - Updates
baseurl=https://mirrors.tuna.tsinghua.edu.cn/centos/$releasever/updates/$basearch/
baseurl=http://mirrors.aliyun.com/centos/$releasever/updates/$basearch/
gpgcheck=0

[extras]
name=CentOS-$releasever - Extras
baseurl=https://mirrors.tuna.tsinghua.edu.cn/centos/$releasever/extras/$basearch/
baseurl=http://mirrors.aliyun.com/centos/$releasever/extras/$basearch/
gpgcheck=0

[centos-sclo-sclo]
name=CentOS-$releasever - SCLo sclo
baseurl=https://mirrors.tuna.tsinghua.edu.cn/centos/$releasever/sclo/$basearch/sclo/
baseurl=http://mirrors.aliyun.com/centos/$releasever/sclo/$basearch/sclo/
gpgcheck=0

[centos-sclo-rh]
name=CentOS-$releasever - SCLo rh
baseurl=https://mirrors.tuna.tsinghua.edu.cn/centos/$releasever/sclo/$basearch/rh/
baseurl=http://mirrors.aliyun.com/centos/$releasever/sclo/$basearch/rh/
gpgcheck=0
{% endif %}
{% elif repo_region == 'europe' %}
{% if os_version|int == 7 %}
[base]
name=CentOS-$releasever - Base
baseurl=https://mirrors.xtom.de/centos/$releasever/os/$basearch/
gpgcheck=0

[updates]
name=CentOS-$releasever - Updates
baseurl=https://mirrors.xtom.de/centos/$releasever/updates/$basearch/
gpgcheck=0

[extras]
name=CentOS-$releasever - Extras
baseurl=https://mirrors.xtom.de/centos/$releasever/extras/$basearch/
gpgcheck=0

[centos-sclo-sclo]
name=CentOS-$releasever - SCLo sclo
baseurl=https://mirrors.xtom.de/centos/$releasever/sclo/$basearch/sclo/
gpgcheck=0

[centos-sclo-rh]
name=CentOS-$releasever - SCLo rh
baseurl=https://mirrors.xtom.de/centos/$releasever/sclo/$basearch/rh/
gpgcheck=0
{% endif %}
{% endif %}
