server {
    listen       80 default_server;
    server_name  {{ repo_host }} localhost;
    location / {
        root   /www;
        index  index.html;
        autoindex on;
        autoindex_exact_size on;
        autoindex_localtime on;
        autoindex_format html;
    }

    location /nginx_status {
        stub_status on;
        access_log off;
    }
}
