server {
    listen       {{ nginx_port }} default_server;
    location / {
        root        {{ nginx_home }};
        index       index.html;
        autoindex   on;
        autoindex_exact_size on;
        autoindex_localtime on;
        autoindex_format html;
    }

    location /nginx {
        access_log off;
    }
}