{% if os_name == 'Oracle' %}
{% if os_version|int >= 8 %}
[ol{{ os_version }}_developer_EPEL]
name=Oracle Linux $releasever EPEL Packages for Development ($basearch)
baseurl=https://yum$ociregion.$ocidomain/repo/OracleLinux/OL$releasever/developer/EPEL/$basearch/
gpgcheck=0

[ol{{ os_version }}_developer_EPEL_modular]
name=Oracle Linux $releasever EPEL Modular Packages for Development ($basearch)
baseurl=https://yum$ociregion.$ocidomain/repo/OracleLinux/OL$releasever/developer/EPEL/modular/$basearch/
gpgcheck=0
{% endif %}
{% else %}
{% if repo_region == 'default' %}
[epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
{% if os_version|int >= 8 %}
baseurl=http://download.fedoraproject.org/pub/epel/$releasever/Everything/$basearch
{% else %}
baseurl=http://download.fedoraproject.org/pub/epel/$releasever/$basearch
{% endif %}
gpgcheck=0

{% if os_version|int == 8 %}
[epel-modular]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch
baseurl=http://download.fedoraproject.org/pub/epel/$releasever/Modular/$basearch
gpgcheck=0
{% endif %}
{% elif repo_region == 'china' %}
[epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
{% if os_version|int >= 8 %}
baseurl=https://mirrors.tuna.tsinghua.edu.cn/epel/$releasever/Everything/$basearch
{% else %}
baseurl=https://mirrors.tuna.tsinghua.edu.cn/epel/$releasever/$basearch
{% endif %}
gpgcheck=0

{% if os_version|int == 8 %}
[epel-modular]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch
baseurl=https://mirrors.tuna.tsinghua.edu.cn/epel/$releasever/Modular/$basearch
gpgcheck=0
{% endif %}
{% elif repo_region == 'europe' %}
[epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
{% if os_version|int >= 8 %}
baseurl=https://mirrors.xtom.de/epel/$releasever/Everything/$basearch
{% else %}
baseurl=https://mirrors.xtom.de/epel/$releasever/$basearch
{% endif %}
gpgcheck=0

{% if os_version|int == 8 %}
[epel-modular]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch
baseurl=https://mirrors.xtom.de/epel/$releasever/Modular/$basearch
gpgcheck=0
{% endif %}
{% endif %}
{% endif %}
