{% if os_name == 'CentOS' %}
{% if os_major_build|int == 7 %}
[base]
name=CentOS-$releasever - Base
baseurl=http://mirror.centos.org/centos/$releasever/os/$basearch/
gpgcheck=0

[updates]
name=CentOS-$releasever - Updates
baseurl=http://mirror.centos.org/centos/$releasever/updates/$basearch/
gpgcheck=0

[extras]
name=CentOS-$releasever - Extras
baseurl=http://mirror.centos.org/centos/$releasever/extras/$basearch/
gpgcheck=0

[centos-sclo-sclo]
name=CentOS-$releasever - SCLo sclo
baseurl=http://mirror.centos.org/centos/$releasever/sclo/$basearch/sclo/
gpgcheck=0

[centos-sclo-rh]
name=CentOS-$releasever - SCLo rh
baseurl=http://mirror.centos.org/centos/$releasever/sclo/$basearch/rh/
gpgcheck=0
{% endif %}
{% elif os_name == 'Rocky' %}
[appstream]
name=Rocky Linux $releasever - AppStream
baseurl=https://dl.rockylinux.org/$contentdir/$releasever/AppStream/$basearch/os/
gpgcheck=0

[baseos]
name=Rocky Linux $releasever - BaseOS
baseurl=https://dl.rockylinux.org/$contentdir/$releasever/BaseOS/$basearch/os/
gpgcheck=0

[extras]
name=Rocky Linux $releasever - Extras
baseurl=https://dl.rockylinux.org/$contentdir/$releasever/extras/$basearch/os/
gpgcheck=0

{% if os_major_build|int == 8 %}
[powertools]
name=Rocky Linux $releasever - PowerTools
baseurl=https://dl.rockylinux.org/$contentdir/$releasever/PowerTools/$basearch/os/
gpgcheck=0
{% endif %}
{% elif os_name == 'AlmaLinux' %}
[appstream]
name=AlmaLinux $releasever - AppStream
baseurl=https://repo.almalinux.org/almalinux/$releasever/AppStream/$basearch/os/
gpgcheck=0

[baseos]
name=AlmaLinux $releasever - BaseOS
baseurl=https://repo.almalinux.org/almalinux/$releasever/BaseOS/$basearch/os/
gpgcheck=0

[extras]
name=AlmaLinux $releasever - Extras
baseurl=https://repo.almalinux.org/almalinux/$releasever/extras/$basearch/os/
gpgcheck=0

{% if os_major_build|int == 8 %}
[powertools]
name=AlmaLinux $releasever - PowerTools
baseurl=https://repo.almalinux.org/almalinux/$releasever/extras/$basearch/os/
gpgcheck=0
{% endif %}

{% if os_major_build|int == 9 %}
[crb]
name=AlmaLinux $releasever - CRB
baseurl=https://repo.almalinux.org/almalinux/$releasever/CRB/$basearch/os/
gpgcheck=0
{% endif %}
{% elif os_name == 'Oracle' %}
[ol{{ os_major_build }}_appstream]
name=Oracle Linux $releasever Application Stream ($basearch)
baseurl=https://yum$ociregion.$ocidomain/repo/OracleLinux/OL$releasever/appstream/$basearch/
gpgcheck=0

[ol{{ os_major_build }}_baseos_latest]
name=Oracle Linux $releasever BaseOS Latest ($basearch)
baseurl=https://yum$ociregion.$ocidomain/repo/OracleLinux/OL$releasever/baseos/latest/$basearch/
gpgcheck=0

[ol{{ os_major_build }}_codeready_builder]
name=Oracle Linux $releasever CodeReady Builder ($basearch)
baseurl=https://yum$ociregion.$ocidomain/repo/OracleLinux/OL$releasever/codeready/builder/$basearch/
gpgcheck=0

[ol{{ os_major_build }}_developer_EPEL]
name=Oracle Linux $releasever EPEL Packages for Development ($basearch)
baseurl=https://yum$ociregion.$ocidomain/repo/OracleLinux/OL$releasever/developer/EPEL/$basearch/
gpgcheck=0

[ol{{ os_major_build }}_developer_EPEL_modular]
name=Oracle Linux $releasever EPEL Modular Packages for Development ($basearch)
baseurl=https://yum$ociregion.$ocidomain/repo/OracleLinux/OL$releasever/developer/EPEL/modular/$basearch/
gpgcheck=0

[ol{{ os_major_build }}_UEKR6]
name=Latest Unbreakable Enterprise Kernel Release 6 for Oracle Linux $releasever ($basearch)
baseurl=https://yum$ociregion.$ocidomain/repo/OracleLinux/OL$releasever/UEKR6/$basearch/
gpgcheck=0
{% endif %}

{% if os_name != 'Oracle' %}
[epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
{% if os_major_build|int >= 8 %}
baseurl=http://download.fedoraproject.org/pub/epel/$releasever/Everything/$basearch
{% else %}
baseurl=http://download.fedoraproject.org/pub/epel/$releasever/$basearch
{% endif %}
gpgcheck=0

{% if os_major_build|int == 8 %}
[epel-modular]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch
baseurl=http://download.fedoraproject.org/pub/epel/$releasever/Modular/$basearch
gpgcheck=0
{% endif %}

[pg_probackup]
name=PG_PROBACKUP Packages for {{ os_name }} $releasever - $basearch
baseurl=https://repo.postgrespro.ru/pg_probackup/rpm/latest/centos-$releasever-$basearch
skip_if_unavailable=True
gpgcheck=0
{% else %}
[pg_probackup]
name=PG_PROBACKUP Packages for {{ os_name }} $releasever - $basearch
baseurl=https://repo.postgrespro.ru/pg_probackup/rpm/latest/oraclelinux-$releasever-$basearch
skip_if_unavailable=True
gpgcheck=0
{% endif %}

[grafana]
name=Grafana Official Yum Repo
baseurl=https://packages.grafana.com/oss/rpm
gpgcheck=0

[prometheus]
name=Prometheus and exporters
baseurl=https://packagecloud.io/prometheus-rpm/release/el/$releasever/$basearch
gpgcheck=0

[pgdg-common]
name=PostgreSQL common RPMs for RHEL / {{ os_name }} $releasever - $basearch
baseurl=https://download.postgresql.org/pub/repos/yum/common/redhat/rhel-$releasever-$basearch
gpgcheck=0

[pgdg{{ pg_version }}]
name=PostgreSQL {{ pg_version }} for RHEL / {{ os_name }} $releasever - $basearch
baseurl=https://download.postgresql.org/pub/repos/yum/{{ pg_version }}/redhat/rhel-$releasever-$basearch
gpgcheck=0

[pgdg-rhel{{ os_major_build }}-extras]
name=Extra packages to support some RPMs in the PostgreSQL RPM repo RHEL / {{ os_name }} $releasever - $basearch
baseurl=https://download.postgresql.org/pub/repos/yum/common/pgdg-rhel$releasever-extras/redhat/rhel-$releasever-$basearch
gpgcheck=0

[timescaledb]
name=TimescaleDB for RHEL / {{ os_name }} $releasever - $basearch
baseurl=https://packagecloud.io/timescale/timescaledb/el/$releasever/$basearch
gpgcheck=0

[nginx]
name=nginx repo
baseurl=https://nginx.org/packages/centos/$releasever/$basearch/
skip_if_unavailable=True
gpgcheck=0

[harbottle-main]
name=Copr repo for main owned by harbottle
baseurl=https://copr-be.cloud.fedoraproject.org/results/harbottle/main/epel-$releasever-$basearch/
skip_if_unavailable=True
gpgcheck=0

[docker-ce]
name=Docker CE Stable - $basearch
baseurl=https://download.docker.com/linux/centos/$releasever/$basearch/stable
skip_if_unavailable=True
gpgcheck=0
