{% if os_version|int >= 8 %}
[ol{{ os_version }}_appstream]
name=Oracle Linux $releasever Application Stream ($basearch)
baseurl=https://yum$ociregion.$ocidomain/repo/OracleLinux/OL$releasever/appstream/$basearch/
gpgcheck=0

[ol{{ os_version }}_baseos_latest]
name=Oracle Linux $releasever BaseOS Latest ($basearch)
baseurl=https://yum$ociregion.$ocidomain/repo/OracleLinux/OL$releasever/baseos/latest/$basearch/
gpgcheck=0

[ol{{ os_version }}_codeready_builder]
name=Oracle Linux $releasever CodeReady Builder ($basearch)
baseurl=https://yum$ociregion.$ocidomain/repo/OracleLinux/OL$releasever/codeready/builder/$basearch/
gpgcheck=0

[ol{{ os_version }}_UEKR6]
name=Latest Unbreakable Enterprise Kernel Release 6 for Oracle Linux $releasever ($basearch)
baseurl=https://yum$ociregion.$ocidomain/repo/OracleLinux/OL$releasever/UEKR6/$basearch/
gpgcheck=0
{% endif %}
