{% if repo_region == 'default' %}
{% if os_version|int >= 8 %}
[appstream]
name=Rocky Linux $releasever - AppStream
baseurl=https://dl.rockylinux.org/pub/rocky/$releasever/AppStream/$basearch/os/
gpgcheck=0

[baseos]
name=Rocky Linux $releasever - BaseOS
baseurl=https://dl.rockylinux.org/pub/rocky/$releasever/BaseOS/$basearch/os/
gpgcheck=0

[extras]
name=Rocky Linux $releasever - Extras
baseurl=https://dl.rockylinux.org/pub/rocky/$releasever/extras/$basearch/os/
gpgcheck=0
{% endif %}

{% if os_version|int == 8 %}
[powertools]
name=Rocky Linux $releasever - PowerTools
baseurl=https://dl.rockylinux.org/pub/rocky/$releasever/PowerTools/$basearch/os/
gpgcheck=0
{% endif %}
{% elif repo_region == 'europe' %}
{% if os_version|int >= 8 %}
[appstream]
name=Rocky Linux $releasever - AppStream
baseurl=https://mirrors.xtom.de/rocky/$releasever/AppStream/$basearch/os/
gpgcheck=0

[baseos]
name=Rocky Linux $releasever - BaseOS
baseurl=https://mirrors.xtom.de/rocky/$releasever/BaseOS/$basearch/os/
gpgcheck=0

[extras]
name=Rocky Linux $releasever - Extras
baseurl=https://mirrors.xtom.de/rocky/$releasever/extras/$basearch/os/
gpgcheck=0
{% endif %}

{% if os_version|int == 8 %}
[powertools]
name=Rocky Linux $releasever - PowerTools
baseurl=https://mirrors.xtom.de/rocky/$releasever/PowerTools/$basearch/os/
gpgcheck=0
{% endif %}
{% endif %}
