{% if repo_region == 'default' %}
{% if os_version|int >= 8 %}
[appstream]
name=Rocky Linux $releasever - AppStream
baseurl=https://dl.rockylinux.org/pub/rocky/$releasever/AppStream/$basearch/os/
gpgcheck=0

[baseos]
name=Rocky Linux $releasever - BaseOS
baseurl=https://dl.rockylinux.org/pub/rocky/$releasever/BaseOS/$basearch/os/
gpgcheck=0

[extras]
name=Rocky Linux $releasever - Extras
baseurl=https://dl.rockylinux.org/pub/rocky/$releasever/extras/$basearch/os/
gpgcheck=0
{% endif %}

{% if os_version|int == 8 %}
[powertools]
name=Rocky Linux $releasever - PowerTools
baseurl=https://dl.rockylinux.org/pub/rocky/$releasever/PowerTools/$basearch/os/
gpgcheck=0
{% endif %}
{% elif repo_region == 'europe' %}
{% if os_version|int >= 8 %}
[appstream]
name=Rocky Linux $releasever - AppStream
baseurl=https://mirror.dogado.de/rockylinux/$releasever/AppStream/$basearch/os/
gpgcheck=0

[baseos]
name=Rocky Linux $releasever - BaseOS
baseurl=https://mirror.dogado.de/rockylinux/$releasever/BaseOS/$basearch/os/
gpgcheck=0

[extras]
name=Rocky Linux $releasever - Extras
baseurl=https://mirror.dogado.de/rockylinux/$releasever/extras/$basearch/os/
gpgcheck=0
{% endif %}

{% if os_version|int == 8 %}
[powertools]
name=Rocky Linux $releasever - PowerTools
baseurl=https://mirror.dogado.de/rockylinux/$releasever/PowerTools/$basearch/os/
gpgcheck=0
{% endif %}
{% endif %}

{% if repo_region == 'default' %}
[epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
{% if os_version|int >= 8 %}
baseurl=http://download.fedoraproject.org/pub/epel/$releasever/Everything/$basearch
{% else %}
baseurl=http://download.fedoraproject.org/pub/epel/$releasever/$basearch
{% endif %}
gpgcheck=0

{% if os_version|int == 8 %}
[epel-modular]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch
baseurl=http://download.fedoraproject.org/pub/epel/$releasever/Modular/$basearch
gpgcheck=0
{% endif %}
{% elif repo_region == 'china' %}
epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
{% if os_version|int >= 8 %}
baseurl=https://mirrors.tuna.tsinghua.edu.cn/epel/$releasever/Everything/$basearch
{% else %}
baseurl=https://mirrors.tuna.tsinghua.edu.cn/epel/$releasever/$basearch
{% endif %}
gpgcheck=0

{% if os_version|int == 8 %}
[epel-modular]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch
baseurl=https://mirrors.tuna.tsinghua.edu.cn/epel/$releasever/Modular/$basearch
gpgcheck=0
{% endif %}
{% elif repo_region == 'europe' %}
[epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
{% if os_version|int >= 8 %}
baseurl=https://mirror.dogado.de/fedora-epel/$releasever/Everything/$basearch
{% else %}
baseurl=https://mirror.dogado.de/fedora-epel/$releasever/$basearch
{% endif %}
gpgcheck=0

{% if os_version|int == 8 %}
[epel-modular]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch
baseurl=https://mirror.dogado.de/fedora-epel/$releasever/Modular/$basearch
gpgcheck=0
{% endif %}
{% endif %}

[grafana]
name=Grafana Official Yum Repo
{% if repo_region == 'default' or repo_region == 'europe' %}
baseurl=https://packages.grafana.com/oss/rpm
{% elif repo_region == 'china' %}
baseurl=https://mirrors.tuna.tsinghua.edu.cn/grafana/yum/rpm
gpgcheck=0

[prometheus]
name=Prometheus and exporters
baseurl=https://packagecloud.io/prometheus-rpm/release/el/$releasever/$basearch
gpgcheck=0

{% if repo_region == 'default' or repo_region == 'europe' %}
[pgdg-common]
name=PostgreSQL common RPMs for RHEL / {{ os_name }} $releasever - $basearch
baseurl=https://download.postgresql.org/pub/repos/yum/common/redhat/rhel-$releasever-$basearch
gpgcheck=0

[pgdg{{ pg_version }}]
name=PostgreSQL {{ pg_version }} for RHEL / {{ os_name }} $releasever - $basearch
baseurl=https://download.postgresql.org/pub/repos/yum/{{ pg_version }}/redhat/rhel-$releasever-$basearch
gpgcheck=0

[pgdg-rhel{{ os_version }}-extras]
name=Extra packages to support some RPMs in the PostgreSQL RPM repo RHEL / {{ os_name }} $releasever - $basearch
baseurl=https://download.postgresql.org/pub/repos/yum/common/pgdg-rhel$releasever-extras/redhat/rhel-$releasever-$basearch
gpgcheck=0
{% elif repo_region == 'china' %}
[pgdg-common]
name=PostgreSQL common RPMs for RHEL / {{ os_name }} $releasever - $basearch
baseurl=https://mirrors.tuna.tsinghua.edu.cn/postgresql/repos/yum/common/redhat/rhel-$releasever-$basearch
gpgcheck=0

[pgdg{{ pg_version }}]
name=PostgreSQL {{ pg_version }} for RHEL / {{ os_name }} $releasever - $basearch
baseurl=https://mirrors.tuna.tsinghua.edu.cn/postgresql/repos/yum/{{ pg_version }}/redhat/rhel-$releasever-$basearch
gpgcheck=0

[pgdg-rhel{{ os_version }}-extras]
name=Extra packages to support some RPMs in the PostgreSQL RPM repo RHEL / {{ os_name }} $releasever - $basearch
baseurl=https://mirrors.tuna.tsinghua.edu.cn/postgresql/repos/yum/common/pgdg-rhel$releasever-extras/redhat/rhel-$releasever-$basearch
gpgcheck=0
{% endif %}

[timescaledb]
name=TimescaleDB for RHEL / {{ os_name }} $releasever - $basearch
baseurl=https://packagecloud.io/timescale/timescaledb/el/$releasever/$basearch
gpgcheck=0

[citus]
name=Citus Community
baseurl=https://repos.citusdata.com/community/el/$releasever/$basearch
gpgcheck=0

[nginx]
name=Nginx Repo
baseurl=https://nginx.org/packages/centos/$releasever/$basearch/
skip_if_unavailable=True
gpgcheck=0

[harbottle]
name=Copr repo for main owned by harbottle
baseurl=https://copr-be.cloud.fedoraproject.org/results/harbottle/main/epel-$releasever-$basearch/
skip_if_unavailable=True
gpgcheck=0

[pg_probackup]
name=PG_PROBACKUP Packages for {{ os_name }} $releasever - $basearch
baseurl=https://repo.postgrespro.ru/pg_probackup/rpm/latest/centos-$releasever-$basearch
skip_if_unavailable=True
gpgcheck=0

[docker-ce]
name=Docker CE Stable - $basearch
{% if repo_region == 'default' or repo_region == 'europe' %}
baseurl=https://download.docker.com/linux/centos/$releasever/$basearch/stable
{% elif repo_region == 'china' %}
baseurl=https://mirrors.aliyun.com/docker-ce/linux/centos/$releasever/$basearch/stable
{% endif %}
skip_if_unavailable=True
gpgcheck=0
