---
namespace: {{ pg_namespace }}/          # namespace

#------------------------------------------------------------------------------
# dcs
#------------------------------------------------------------------------------
{% if pg_dcs_type == 'consul' %}
consul:
  host: 127.0.0.1:8500
  consistency: default         # default|consistent|stale
  register_service: true
  service_check_interval: 15s
  service_tags:
    - {{ pg_cluster }}
{% if dcs_ssl_enabled is defined and dcs_ssl_enabled|bool %}
  scheme: https
  cacert: /etc/pki/ca.crt
{% endif %}
{% endif %}
{% if pg_dcs_type == 'etcd' %}
etcd3:
  hosts: '{% for k,v in dcs_servers.items() %}{% if not loop.first %},{% endif %}{{ v }}:2379{% endfor %}'
{% if dcs_ssl_enabled is defined and dcs_ssl_enabled|bool %}
  protocol: https
  cacert: /etc/pki/ca.crt
{% endif %}
{% endif %}

#------------------------------------------------------------------------------
# api
#------------------------------------------------------------------------------
# how to expose patroni service
# listen on all ipv4, connect via public ip, use same credential as dbuser_monitor
restapi:
  listen: 0.0.0.0:{{ patroni_port }}
  connect_address: {{ inventory_hostname }}:{{ patroni_port }}
{% if patroni_ssl_enabled|bool %}
  insecure: false
  cacert:   '/etc/pki/ca.crt'
  certfile: '/etc/pki/meta.crt'
  keyfile:  '/etc/pki/meta.key'
{% endif %}
  # unsafe api can only been accessed from meta nodes with auth
  authentication:
    verify_client: optional  # none|optional|required
    username: '{{ patroni_username }}'
    password: '{{ patroni_password }}'
  allowlist: [ {% for v in groups["meta"] %}{% if not loop.first %}, {% endif %}{{ v }}{% endfor %} ]

#------------------------------------------------------------------------------
# ctl
#------------------------------------------------------------------------------
ctl:
{% if patroni_ssl_enabled|bool %}
  insecure: false
  cacert:   '/etc/pki/ca.crt'
  certfile: '/etc/pki/meta.crt'
  keyfile:  '/etc/pki/meta.key'
{% else %}
  insecure: true
{% endif %}
