---
#==============================================================#
# File      :   alertmanager.yml
# Ctime     :   2020-12-03
# Mtime     :   2020-12-03
# Desc      :   Altermanager Configuration File
# Path      :   pg-meta-tt-1:/etc/prometheus/alertmanager.yml
# Copyright (C) 2018-2021 Ruohang Feng
#==============================================================#

global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'web.hook'

receivers:
  - name: 'web.hook'
    webhook_configs:
      - url: 'http://127.0.0.1:5001/'

...