---
- name: create os user group infra
  group: name=infra

- name: add infra user to group infra
  ignore_errors: true
  user: name={{ item }} append=true groups=infra
  with_items:
    - prometheus
    - grafana
    - loki
    - "{% if node_user == 'root' %}{{ node_admin_username }}{% else %}{{ node_user }}{% endif %}"
    - "{{ node_admin_username }}"

...