{{ ansible_managed | comment }}

# time (in milliseconds) after which vip-manager wakes up and checks if it needs to register or release ip addresses.
interval: 1000

# the etcd key which vip-manager will regularly poll.
trigger-key: "{{ pg_namespace }}/{{ pg_cluster }}/leader"

# if the value of the above key matches the trigger-value (often the hostname of this host), vip-manager will try to add the virtual ip address to the interface specified in Iface
trigger-value: "{{ pg_cluster }}-{{ pg_seq }}"

# the virtual ip address to manage
ip: {{ vip_address }}

# netmask for the virtual ip
netmask: {{ vip_cidrmask }}

#interface to which the virtual ip will be added
interface: {{ vip_interface }}

# how the virtual ip should be managed. we currently support "ip addr add/remove" through shell commands or the Hetzner api
# possible values: basic, or hetzner.
hosting-type: basic

# dcs
dcs-type: etcd

# a list that contains all DCS endpoints to which vip-manager could talk.
dcs-endpoints:
{% for ip in groups['etcd'] %}
  - https://{{ ip }}:{{ etcd_port }}
{% endfor %}
etcd-ca-file: "/etc/pki/ca.crt"
etcd-cert-file: "/pg/cert/server.crt"
etcd-key-file: "/pg/cert/server.key"

# how often things should be retried and how long to wait between retries. (currently only affects arpClient)
retry-num: 2

# in milliseconds
retry-after: 250

# verbose logs (currently only supported for hetzner)
verbose: false
