---
#-----------------------------------------------------------------
# GRAFANA
#-----------------------------------------------------------------
grafana_enabled: true             # enable grafana? only works on meta nodes
grafana_endpoint: http://${meta_ip}:3000  # grafana endpoint url
grafana_admin_username: admin     # default grafana admin username
grafana_admin_password: pigsty    # default grafana admin password
grafana_plugin_method: install    # none|install, none will skip plugin installation
grafana_plugin_cache: /www/pigsty/plugins.tgz # path to grafana plugins cache tarball
grafana_plugin_list: [ ]          # plugins that will be downloaded via grafana-cli
grafana_customize_logo: logo.svg  # customize grafana icon with your own svg
...