#==============================================================#
# File      :   promtail.yml
# Ctime     :   2021-04-03
# Mtime     :   2022-05-21
# Desc      :   Promtail logging collector agent
# Path      :   /etc/promtail.yml
# Copyright (C) 2018-2022 Ruohang Feng
#==============================================================#

server:
  http_listen_port: {{ promtail_port|default(9080) }}
  grpc_listen_port: 9097

positions:                     # location of position status file
  filename: {{ promtail_positions }}
  sync_period: 10s             # How often to update the positions file
  ignore_invalid_yaml: true    # Whether to ignore & later overwrite positions files that are corrupted

clients:
  - url:   {{ loki_endpoint }}
    external_labels:
      ip:  {{ inventory_hostname }}
      cls: {{ node_cluster|default('nodes') }}
      ins: {{ nodename }}

scrape_configs:

  ################################################################
  #                        Nodes Logs                            #
  ################################################################
  # collect /var/log/messages dmesg cron logs on all nodes
  - job_name: nodes
    static_configs:
      - targets:
          - localhost
        labels:
          src: syslog
          job: nodes
          __path__: /var/log/messages

      - targets:
          - localhost
        labels:
          src: dmesg
          job: nodes
          __path__: /var/log/dmesg

      - targets:
          - localhost
        labels:
          src: cron
          job: nodes
          __path__: /var/log/cron


{% if meta_node is defined and meta_node|bool %}
  ################################################################
  #                       Infra Log                              #
  ################################################################
  # collect nginx & grafana logs on meta nodes

{% if nginx_enabled|bool %}
  - job_name: nginx
    static_configs:
      - targets:
          - localhost
        labels:
          src: nginx
          job: infra
          __path__: /var/log/nginx/*.log
      - targets:
          - localhost
        labels:
          src: nginx-error
          job: infra
          __path__: /var/log/nginx-error.log

    pipeline_stages:
      - match:
          selector: '{src="nginx"}'
          stages:
            - regex:
                # logline example: 127.0.0.1 - - [21/Apr/2020:13:59:45 +0000] "GET /?foo=bar HTTP/1.1" 200 612 "http://example.com/lekkebot.html" "curl/7.58.0"
                expression: '^(?P<host>[\w\.]+) - (?P<user>[^ ]*) \[(?P<timestamp>.*)\] "(?P<method>[^ ]*) (?P<request_url>[^ ]*) (?P<request_http_protocol>[^ ]*)" (?P<status>[\d]+) (?P<bytes_out>[\d]+) "(?P<http_referer>[^"]*)" "(?P<user_agent>[^"]*)"?'
            - labels:
                host:
                method:
                request_url:
                status:
                user_agent:
{% endif %}

{% endif %}


{% if pg_cluster is defined and pg_seq is defined %}
  ################################################################
  #                      PostgreSQL Logs                         #
  ################################################################
  - job_name: postgres
    static_configs:
      - targets:
          - localhost
        labels:
          src: postgres
          job: pgsql
          cls: {{ pg_cluster }}
          ins: {{ pg_cluster }}-{{ pg_seq }}
          __path__: {{ pg_log_dir }}/*.csv

    pipeline_stages:
      - match:
          selector: '{job="postgres"}'
          stages:
            - multiline:
                firstline: '\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3} \w+,'
                max_wait_time: 8s
                max_lines: 8192
            - regex:
                expression: '^(?P<ts>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3} \w+),.*$'
            #   expression: '^(?P<ts>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3} \w+),"?(?P<user>[^"]*?)?"?,"?(?P<datname>[^"]*?)?"?,(?P<pid>\d+)?,"?(?P<conn>[^"]+)?"?,(?P<session_id>\w+\.\w+)?,(?P<line_num>\d+)?,"?(?P<cmdtag>[^"]*?)?"?,(?P<session_start>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2} \w+)?,(?P<vxid>[^"]*?)?,(?P<txid>\d+)?,(?P<level>\w+)?,(?P<code>\w{5})?,.*$'
            # - labels: # add extra labels from fields
            #    level:
            - timestamp:
                source: ts
                format: '2006-01-02 15:04:05 MST'


  #==============================================================#
  #                        Patroni Logs                          #
  #==============================================================#
{% if patroni_enabled is defined and patroni_enabled|bool %}
  - job_name: patroni
    static_configs:
      - targets:
          - localhost
        labels:
          src: patroni
          job: pgsql
          cls: {{ pg_cluster }}
          ins: {{ pg_cluster }}-{{ pg_seq }}
          __path__: {{ patroni_log_dir }}/patroni.log

    pipeline_stages:
      - match:
          selector: '{job="patroni"}'
          stages:
            - regex:
                expression: '^(?P<ts>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2} [+-]\d{4}) (?P<level>\w+): (?P<message>.*)'
            - labels:
                level:
            - timestamp:
                source: ts
                format: '2006-01-02 15:04:05 -0700'

{% endif %}

  #==============================================================#
  #                      Pgbouncer Logs                          #
  #==============================================================#
{% if pgbouncer_enabled is defined and pgbouncer_enabled|bool %}
  - job_name: pgbouncer
    static_configs:
      - targets:
          - localhost
        labels:
          src: pgbouncer
          job: pgsql
          cls: {{ pg_cluster }}
          ins: {{ pg_cluster }}-{{ pg_seq }}
          __path__: {{ pgbouncer_log_dir }}/pgbouncer.log

    pipeline_stages:
      - match:
          selector: '{job="pgbouncer"}'
          stages:
            - multiline:
                firstline: '\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3} \w+ \[\d+\]'
                max_wait_time: 8s
                max_lines: 128
            - regex:
                expression: '^(?P<ts>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3} \w+) \[(?P<pid>\d+)\] (?P<pid>\d+) (?P<level>\w+).*$'
            - labels:
                level:
            - timestamp:
                source: ts
                format: '2006-01-02 15:04:05 MST'
{% endif %}

{% endif %}


{% if redis_cluster is defined and redis_node is defined %}
  ################################################################
  #                         Redis Logs                           #
  ################################################################
  - job_name: redis
    static_configs:
      - targets:
          - localhost
        labels:
          src: redis
          job: redis
          cls: {{ redis_cluster }}
          ins: {{ redis_cluster }}-{{ redis_node }}
          __path__: /var/log/redis/*.log

{% endif %}
