---
#--------------------------------------------------------------#
# Install docker                                [docker_install]
#--------------------------------------------------------------#
- name: install docker and docker-compose
  tags: docker_install
  #when: docker_enabled|bool
  ignore_errors: true  # HOTFIX for EL8 Docker installation
  package: name={{ item }} state=present
  with_items:
    - docker-ce
    - docker-compose-plugin


#--------------------------------------------------------------#
# Add admin user to Docker group                  [docker_admin]
#--------------------------------------------------------------#
- name: add admin user to docker group
  ignore_errors: true
  tags: docker_admin
  #when: docker_enabled|bool
  user: name={{ item }} append=true groups=docker
  with_items:
    - "{% if node_user == 'root' %}{{ node_admin_username }}{% else %}{{ node_user }}{% endif %}"
    - "{{ node_admin_username }}"


#--------------------------------------------------------------#
# config docker                                  [docker_config]
#--------------------------------------------------------------#
- name: config docker
  tags: docker_config
  #when: docker_enabled|bool
  block:
    - name: create /etc/docker config dir
      file: path=/etc/docker state=directory mode=0755

    - name: render /etc/docker/daemon.json
      tags: docker_config
      template: src=daemon.json.j2 dest=/etc/docker/daemon.json


#--------------------------------------------------------------#
# launch docker                                  [docker_launch]
#--------------------------------------------------------------#
# only launch docker when enabled
- name: launch docker systemd service
  tags: docker_launch
  #when: docker_enabled|bool
  systemd: name=docker state=restarted enabled=yes daemon_reload=yes


#--------------------------------------------------------------#
# load docker images cache if exists              [docker_image]
#--------------------------------------------------------------#
# only load docker images docker when enabled
- name: load docker images
  tags: docker_image
  #when: docker_enabled|bool
  ignore_errors: true
  block:

    - name: check docker image cache exists
      stat: path={{ docker_image_cache }}
      register: docker_cache

    - name: load docker image cache if exists
      when: docker_cache.stat.exists
      shell: |
        cat {{ item }} | gzip -d -c - | docker load
      args: { executable: /bin/bash }
      with_fileglob:
        - "/tmp/docker/*.tgz"

...