[Unit]
Description=Blackbox prober exporter
Documentation=https://github.com/prometheus/blackbox_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/blackbox_exporter
User=prometheus
ExecStart=/usr/bin/blackbox_exporter $BLACKBOX_EXPORTER_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
LimitNOFILE=16384


[Install]
WantedBy=multi-user.target