# leader key to watch
key: "{{ pg_namespace }}/{{ pg_cluster }}/leader"

# member name
nodename: "{{ pg_cluster }}-{{ pg_seq }}"

# interface to which the virtual ip will be added
iface: {{ vip_interface }}

# the virtual ip address to manage
ip: {{ vip_address  }}

# netmask for the virtual ip
mask:  {{ vip_cidrmask }}

# use ip add to control ip address
hosting_type: basic

# dcs connection information
endpoint_type: consul
endpoints:
  - http://127.0.0.1:8500

# how often things should be retried and how long to wait between retries
retry_num: 2

# retry after milliseconds
retry_after: 250

# milliseconds after which vip-manager wakes up and checks
interval: 1000