# https://docs.ferretdb.io/security/tls-connections/
FERRETDB_POSTGRESQL_URL={{ mongo_pgurl|default('postgres:///') }}
FERRETDB_LISTEN_ADDR={{ mongo_listen|default('') }}:{{ mongo_port|default('27017') }}
FERRETDB_DEBUG_ADDR={{ mongo_listen|default('') }}:{{ mongo_exporter_port|default('9216') }}

{% if mongo_ssl_enabled|bool %}
FERRETDB_LISTEN_TLS={{ mongo_listen|default('') }}:{{ mongo_ssl_port|default('27018') }}
FERRETDB_LISTEN_TLS_CERT_FILE=/var/lib/mongod/server.crt
FERRETDB_LISTEN_TLS_KEY_FILE=/var/lib/mongod/server.key
FERRETDB_LISTEN_TLS_CA_FILE=/var/lib/mongod/ca.crt
{% endif %}

{{ mongo_extra_vars }}