---
#--------------------------------------------------------------#
# Clean                                               [pg_clean]
#--------------------------------------------------------------#
- import_tasks: clean.yml
  tags: pg_clean

#--------------------------------------------------------------#
# User                                                 [pg_dbsu]
#--------------------------------------------------------------#
# pg_dbsu_sudo
- import_tasks: dbsu.yml
  tags: pg_dbsu

#--------------------------------------------------------------#
# Install                                           [pg_install]
#--------------------------------------------------------------#
# pg_pkg, pg_extension, pg_path, pg_env
- import_tasks: install.yml
  tags: pg_install

#--------------------------------------------------------------#
# Directory                                             [pg_dir]
#--------------------------------------------------------------#
- import_tasks: dir.yml
  tags: pg_dir

#--------------------------------------------------------------#
# Utils                                                [pg_util]
#--------------------------------------------------------------#
# pg_bin, pg_alias, pg_psql, pg_dummy
- import_tasks: util.yml
  tags: pg_util

#--------------------------------------------------------------#
# Config                                      [patroni] [config]
#--------------------------------------------------------------#
# pg_spec, pg_conf, pg_systemd
- import_tasks: config.yml
  tags: [ patroni, pg_config ]
  when: patroni_enabled|bool

#--------------------------------------------------------------#
# Cert                                       [patroni] [pg_cert]
#--------------------------------------------------------------#
# pg_cert_private, pg_cert_issue, pg_cert_copy
- import_tasks: cert.yml
  tags: [ patroni, pg_cert ]

#--------------------------------------------------------------#
# Launch                                   [patroni] [pg_launch]
#--------------------------------------------------------------#
# pg_watchdog, pg_primary, pg_init, pg_passï¼Œ pg_replica
# pg_hba, patroni_reload, pg_patroni
- import_tasks: patroni.yml
  tags: [ patroni, pg_launch ]
  when: patroni_enabled|bool

#--------------------------------------------------------------#
# Users                                                [pg_user]
#--------------------------------------------------------------#
# pg_user_config, pg_user_create
- include_tasks: user.yml
  tags: pg_user
  when: pg_provision|bool
  vars: {user: "{{ item }}" }
  with_items: "{{ pg_users }}"

#--------------------------------------------------------------#
# Databases                                              [pg_db]
#--------------------------------------------------------------#
# pg_db_config, pg_db_create
- include_tasks: database.yml
  when: pg_provision|bool
  tags: pg_db
  vars: { database: "{{ item }}" }
  with_items: "{{ pg_databases }}"

#--------------------------------------------------------------#
# Databases                                     [pg_db_register]
#--------------------------------------------------------------#
- include_tasks: register_grafana.yml
  when: pg_provision|bool
  tags: [ pg_db_register, register_grafana ]
  vars: { database: "{{ item }}" }
  with_items: "{{ pg_databases }}"

#--------------------------------------------------------------#
# Pgbackrest                                        [pgbackrest]
#--------------------------------------------------------------#
# pg_backrest
- import_tasks: backup.yml
  tags: pgbackrest

#--------------------------------------------------------------#
# Pgbouncer                                          [pgbouncer]
#--------------------------------------------------------------#
# pgbouncer_clean, pgbouncer_dir, pgbouncer_config, pgbouncer_launch
# pgbouncer_svc, pgbouncer_ini, pgbouncer_hba, pgbouncer_db pgbouncer_user pgbouncer_reload
- import_tasks: pgbouncer.yml
  tags: pgbouncer
  when: pgbouncer_enabled|bool


#--------------------------------------------------------------#
# VIP                                                   [pg_vip]
#--------------------------------------------------------------#
- import_tasks: vip.yml
  tags: pg_vip


#--------------------------------------------------------------#
# Service                                           [pg_service]
#--------------------------------------------------------------#
- import_tasks: service.yml
  tags: pg_service

...