---
#------------------------------------------------------------------------------
# check postgres instance precondition
#  --- empty  ---> clean ---> init
#  --- exist  ^--> [action=abort] ---> abort entire playbook (for the sake of data safety)
#             ^--> [action=skip]  ---> skip current play for this instance
#             ^--> [action=clean] ---> clean ---> init
#------------------------------------------------------------------------------
- name: Check postgres existance
  tags: pg_check
  block:

    - name: Check for existing postgres instance
      command: 'ss -tp state listening sport = :{{ pg_port }}'
      any_errors_fatal: true
      register: check_pg_port_result

    - name: Set fact whether pg port is open
      set_fact:
        pg_exists: "{{ 'post' in check_pg_port_result.stdout }}"

    - name: Abort due to existing postgres instance
      when: pg_exists and pg_exists_action == 'abort'
      any_errors_fatal: true
      fail: msg="Abort because pg instance {{ pg_instance }} is already running"

    - name: Skip due to running instance
      when: pg_exists and pg_exists_action == 'skip'
      any_errors_fatal: true
      meta: end_host

    - name: Clean existing postgres instance
      when: pg_exists and pg_exists_action == 'clean' # DANGEROUS!
      debug:
        msg: "[DANGEROUS] running instance {{ pg_instance }} will be purged!"



#------------------------------------------------------------------------------
# purge existing postgres
#------------------------------------------------------------------------------
# DANGEROUS! remove all postgres data of target machine
# BUT, this is your choice
- name: Cleanup postgresql
  tags: pg_clean
  become: yes
  block:
    - name: Shutdown existing postgres service
      shell: |
        # first, gracefully stop service
        systemctl stop patroni
        systemctl stop postgres
        systemctl stop pgbouncer
        systemctl stop pg_exporter
        systemctl stop pgbouncer_exporter

        # then, manually stop service if still exists
        if ps -u postgres -o pid:1,command | grep -E 'postmaster|postgres:|-D'  | grep checkpointer ; then
            pg_ctl -D {{ pg_data }} stop --mode=immediate
            ps -u postgres -o pid:1,command | grep -E 'postmaster|postgres:|-D' | awk '{print $1}' | xargs kill -9
        fi

        if ps -u postgres -o pid:1,command | grep -E 'postmaster|postgres:|-D'  | grep checkpointer ; then
            ps -u postgres -o pid:1,command | grep -E 'postmaster|postgres:|-D' | awk '{print $1}' | xargs kill -9
            sleep 5 # if still alive, leave 5s grace peroid and force a kill -9
        fi

        if ps -u postgres -o pid:1,command | grep -E 'postmaster|postgres:|-D'  | grep checkpointer ; then
            exit 1  # report failure if still alive
        fi
        exit 0

    - name: Remove registerd consul service
      ignore_errors: yes
      shell: |
        rm -rf /etc/consul.d/svc-*.json
        rm -rf /etc/consul.d/node-meta.json*
        /usr/bin/consul reload
        exit 0

    # when cleanup primary, remove consul metadata in consul
    - name: Remove postgres metadata in consul
      when: pg_role == 'primary'
      shell: |
        consul kv delete -recurse {{ pg_namespace }}/{{ pg_cluster }}

    # TODO: only remove necessary dir instead of all
    - name: Remove existing postgres data
      file: path={{ item }} state=absent
      with_items:
        - /pg
        - "{{ pg_fs_main }}/postgres"
        - "{{ pg_fs_bkup }}/postgres"
        - /etc/pgbouncer
        - /var/log/pgbouncer
        - /var/run/pgbouncer



#------------------------------------------------------------------------------
# Create Directory
#------------------------------------------------------------------------------
# this assumes that
#   /pg is shortcut for postgres home
#   {{ pg_fs_main }} contains the main data             (MUST ALREADY MOUNTED)
#   {{ pg_fs_bkup }} contains archive and backup data   (MUST ALREADY MOUNTED)
#   cluster-version is the default parent folder for pgdata (e.g pg-test-12)
#------------------------------------------------------------------------------
# default variable:
#     pg_fs_main = /export           fast ssd
#     pg_fs_bkup = /var/backups      cheap hdd
#
#     /pg      -> /export/postgres/pg-test-12
#     /pg/data -> /export/postgres/pg-test-12/data
#------------------------------------------------------------------------------
- name: Create postgresql directories
  tags: pg_dir
  become: yes
  block:
    - name: Make sure main and backup dir exists
      file: path={{ item }} state=directory owner=root mode=0777
      with_items:
        - "{{ pg_fs_main }}"
        - "{{ pg_fs_bkup }}"

    # pg_cluster_dir:    "{{ pg_fs_main }}/postgres/{{ pg_cluster }}-{{ pg_version }}"
    - name: Create postgres directory structure
      file: path={{ item }} state=directory owner={{ pg_dbsu }} group=postgres mode=0700
      with_items:
        - "{{ pg_fs_main }}/postgres"
        - "{{ pg_cluster_dir }}"
        - "{{ pg_cluster_dir }}/bin"
        - "{{ pg_cluster_dir }}/log"
        - "{{ pg_cluster_dir }}/tmp"
        - "{{ pg_cluster_dir }}/conf"
        - "{{ pg_cluster_dir }}/data"
        - "{{ pg_cluster_dir }}/meta"
        - "{{ pg_cluster_dir }}/stat"
        - "{{ pg_cluster_dir }}/change"
        - "{{ pg_backup_dir }}/postgres"
        - "{{ pg_backup_dir }}/arcwal"
        - "{{ pg_backup_dir }}/backup"
        - "{{ pg_backup_dir }}/remote"

    - name: Create pgbouncer directory structure
      file: path={{ item }} state=directory owner={{ pg_dbsu }} group=postgres mode=0750
      with_items:
        - /etc/pgbouncer
        - /var/log/pgbouncer
        - /var/run/pgbouncer

    - name: Create links from pgbkup to pgroot
      file:
        src: "{{ pg_backup_dir }}/{{ item }}"
        dest: "{{ pg_cluster_dir }}/{{ item }}"
        state: link
      with_items:
        - arcwal
        - backup
        - remote

    - name: Create links from current cluster
      file:
        src: "{{ pg_cluster_dir }}"
        dest: /pg
        state: link


#------------------------------------------------------------------------------
# Write metadata
#------------------------------------------------------------------------------
- name: Create pgsql meta data
  tags: pg_meta
  become: yes
  block:
    - name: Copy pg_cluster to /pg/meta/cluster
      copy: content={{ pg_cluster }} dest=/pg/meta/cluster owner={{ pg_dbsu }} group=postgres mode=0660
    - name: Copy pg_version to /pg/meta/version
      copy: content={{ pg_version }} dest=/pg/meta/version owner={{ pg_dbsu }} group=postgres mode=0660
    - name: Copy pg_instance to /pg/meta/instance
      copy: content={{ pg_instance }} dest=/pg/meta/instance owner={{ pg_dbsu }} group=postgres mode=0660
    - name: Copy pg_seq to /pg/meta/sequence
      copy: content={{ pg_seq }} dest=/pg/meta/sequence owner={{ pg_dbsu }} group=postgres mode=0660
    - name: Copy pg_role to /pg/meta/role
      copy: content={{ pg_role }} dest=/pg/meta/role owner={{ pg_dbsu }} group=postgres mode=0660


#------------------------------------------------------------------------------
# Copy scripts
#------------------------------------------------------------------------------
- name: Copy postgresql scripts
  tags: pg_scripts
  become: yes
  block:
    - name: Copy postgres scripts to /pg/bin/
      copy: src=pg/ dest=/pg/bin/ owner={{ pg_dbsu }} group=postgres mode=0755

    - name: Copy alias profile to /etc/profile.d
      copy: src=pg-alias.sh dest=/etc/profile.d/pg-alias.sh mode=0755

    - name: Copy psqlrc to postgres home
      copy: src=psqlrc dest="{{ pg_dbsu_home }}/.psqlrc" owner=postgres mode=0600


#------------------------------------------------------------------------------
# Update hostname
#------------------------------------------------------------------------------
- name: Setup hostname to pg instance name
  tags: pg_hostname
  when: pg_hostname|bool
  hostname: name={{ pg_instance }}


#------------------------------------------------------------------------------
# register consul service
#------------------------------------------------------------------------------
- name: Register consul node meta
  tags: pg_nodemeta
  block:
    - name: Copy consul node-meta definition
      template:
        src: node-meta.json.j2
        dest: /etc/consul.d/node-meta.json
        owner: consul
        group: postgres
        mode: 0644

    - name: Restart consul to load new node-meta
      systemd: name=consul state=restarted


#------------------------------------------------------------------------------
# Guarantee watchdog ownership
#------------------------------------------------------------------------------
- name: Config patroni watchdog support
  tags: pg_watchdog
  file: path=/dev/watchdog owner={{ pg_dbsu }} group=postgres

...