PG_EXPORTER_LISTEN_ADDRESS=":{{ insvar.pg_exporter_port }}"
PG_EXPORTER_URL='{{ pg_exporter_target }}'
PG_EXPORTER_AUTO_DISCOVERY={% if insvar.pg_exporter_auto_discovery|bool %}true{% else %}false{% endif %}

PG_EXPORTER_EXCLUDE_DATABASE="{{ insvar.pg_exporter_exclude_database|default('template0,template1,postgres') }}"
PG_EXPORTER_INCLUDE_DATABASE="{{ insvar.pg_exporter_include_database|default('') }}"
PG_EXPORTER_CONFIG=/etc/pg_exporter/{{ insvar.pg_exporter_config }}
PG_EXPORTER_TELEMETRY_PATH="{{ insvar.exporter_metrics_path }}"
PG_EXPORTER_DISABLE_CACHE=false
PG_EXPORTER_OPTS='--log.level=info --log.format="logger:syslog?appname={{ pg_exporter_unit }}&local=7"'