---
#==============================================================#
# File      :   alertmanager.yml
# Ctime     :   2020-12-03
# Mtime     :   2021-06-23
# Desc      :   AlterManager Configuration File
# Path      :   /etc/prometheus/alertmanager.yml
# Copyright (C) 2018-2022 Ruohang Feng
#==============================================================#

# TODO: CUSTOMIZE ACCORDING TO YOUR OWN ENVIRONMENT !!!

#------------------------------------------------------------------------------
# Global
#------------------------------------------------------------------------------
global:
  resolve_timeout: 5m


#------------------------------------------------------------------------------
# Route
#------------------------------------------------------------------------------
# https://prometheus.io/docs/alerting/latest/configuration/#route
route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'web.hook'


#------------------------------------------------------------------------------
# Receivers
#------------------------------------------------------------------------------
# https://prometheus.io/docs/alerting/latest/configuration/#receiver
receivers:
  - name: 'web.hook'
    # webhook_configs:
    #   - url: 'http://127.0.0.1:5001/'

...