---
#==============================================================#
# File      :   black.yml
# Ctime     :   2022-11-30
# Mtime     :   2022-11-30
# Desc      :   Blackbox Exporter Probes
# Path      :   /etc/prometheus/blackbox.yml
# Copyright (C) 2018-2022 Ruohang Feng
#==============================================================#

modules:
  icmp:
    prober: icmp
  icmp_ttl5:
    prober: icmp
    timeout: 5s
    icmp:
      ttl: 5
  http_2xx:
    prober: http
  http_post_2xx:
    prober: http
    http:
      method: POST
  tcp_connect:
    prober: tcp
...