---
#==============================================================#
# File      :   prometheus.yml
# Ctime     :   2020-04-03
# Mtime     :   2022-11-30
# Desc      :   Prometheus Configuration File
# Path      :   /etc/prometheus/prometheus.yml
# Copyright (C) 2018-2022 Ruohang Feng
#==============================================================#

#------------------------------------------------------------------------------
# Config FHS
#------------------------------------------------------------------------------
# /etc/prometheus/
#  ^-----prometheus.yml    # prometheus main config file
#  ^-----alertmanager.yml  # alertmanger main config file
#  ^-----@bin              # util scripts: check,reload,status,new
#  ^-----@rules            # record & alerting rules definition
#  ^
# /etc/prometheus/
#  ^-----@targets          # file based service discovery targets definition
#            ^-----@node   # node  static targets definition
#            ^-----@pgsql  # pgsql static targets definition
#            ^-----@redis  # redis static targets definition
#            ^-----@etcd   # etcd static targets definition
#            ^-----@minio  # minio static targets definition
#            ^-----@infra  # infra static targets definition
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
# Globals
#------------------------------------------------------------------------------
global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_scrape_interval }}
  scrape_timeout: {{ prometheus_scrape_timeout }}


#------------------------------------------------------------------------------
# Alerts
#------------------------------------------------------------------------------
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - {{ alertmanager_endpoint | regex_replace('\${admin_ip}', admin_ip ) }}
      scheme: http
      timeout: 10s
      api_version: v1


#------------------------------------------------------------------------------
# Rules
#------------------------------------------------------------------------------
rule_files:
  - rules/*.yml


#------------------------------------------------------------------------------
# Targets Definition
#------------------------------------------------------------------------------
# https://prometheus.io/docs/prometheus/latest/configuration/configuration/#file_sd_config
scrape_configs:

  #------------------------------------------------------------------------------
  # job: push
  # pushgateway metrics
  #------------------------------------------------------------------------------
  - job_name: push
    metrics_path: /metrics
    honor_labels: true
    static_configs: [{ targets: ['127.0.0.1:9091'] }]

  #------------------------------------------------------------------------------
  # job: ping
  # blackbox exporter metrics
  #------------------------------------------------------------------------------
  - job_name: ping
    metrics_path: /probe
    params: {module: [icmp]}
    file_sd_configs:
      - refresh_interval: {{ prometheus_sd_interval }}
        files: [ targets/ping.yml ]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115

  #------------------------------------------------------------------------------
  # job: infra
  # targets: prometheus | grafana | altermanager | loki | nginx
  # labels: [ip, instance, type]
  # path: targets/infra/<ip>.yml
  #------------------------------------------------------------------------------
  - job_name: infra
    metrics_path: /metrics
    file_sd_configs:
      - refresh_interval: {{ prometheus_sd_interval }}
        files: [ targets/infra/*.yml ]

  #------------------------------------------------------------------------------
  # job: node
  # node_exporter, haproxy, docker, promtail
  # labels: [cls, ins, ip, instance]
  # path: targets/pgsql/<ip>.yml
  #------------------------------------------------------------------------------
  - job_name: node
    metrics_path: {{ exporter_metrics_path }}
    file_sd_configs:
      - refresh_interval: {{ prometheus_sd_interval }}
        files: [ targets/node/*.yml ]

  #------------------------------------------------------------------------------
  # job: etcd
  # labels: [cls, ins, ip, instance]
  # path: targets/etcd/<etcd_instance>.yml
  #------------------------------------------------------------------------------
  - job_name: etcd
    metrics_path: /metrics
    file_sd_configs:
      - refresh_interval: {{ prometheus_sd_interval }}
        files: [ targets/etcd/*.yml ]
    scheme: https
    tls_config:
      ca_file:   /etc/pki/ca.crt
      cert_file: /etc/pki/infra.crt
      key_file:  /etc/pki/infra.key

  #------------------------------------------------------------------------------
  # job: minio
  # labels: [cls, ins, ip, instance]
  # path: targets/minio/<minio_instance>.yml
  #------------------------------------------------------------------------------
  - job_name: minio
    metrics_path: /minio/v2/metrics/cluster
    file_sd_configs:
      - refresh_interval: {{ prometheus_sd_interval }}
        files: [ targets/minio/*.yml ]
    scheme: https
    tls_config:
      ca_file:   /etc/pki/ca.crt
      cert_file: /etc/pki/infra.crt
      key_file:  /etc/pki/infra.key

  #------------------------------------------------------------------------------
  # job: pgsql
  # node_exporter pg_exporter | pgbouncer_exporter | patroni
  # labels: [cls, ins, ip, instance]
  # path: targets/pgsql/<pg_instance>.yml
  #------------------------------------------------------------------------------
  - job_name: pgsql
    metrics_path: {{ exporter_metrics_path }}
    file_sd_configs:
      - refresh_interval: {{ prometheus_sd_interval }}
        files: [ targets/pgsql/*.yml ]

  #------------------------------------------------------------------------------
  # job: redis
  # multiple redis targets from redis_exporter @ target node
  # labels: [cls, ip, ins, instance]
  # path: targets/redis/<redis_node>.yml
  #------------------------------------------------------------------------------
  - job_name: redis
    metrics_path: /scrape
    file_sd_configs:
      - refresh_interval: {{ prometheus_sd_interval }}
        files: [ targets/redis/*.yml ]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        regex: ^redis://(.*):(\d+)$
        replacement: $1:$2
        target_label: instance
      - source_labels: [__param_target]
        regex: ^redis://(.*):(\d+)$
        replacement: $1
        target_label: ip
      # scrape redis_exporter on target node
      - source_labels: [__param_target]
        regex: ^redis://(.*):\d+$
        replacement: $1:9121
        target_label: __address__

...