{
  "service": {
    "name": "prometheus",
    "tags": ["meta", "exporter"],
    "meta": {"type": "prometheus"},
    "port": 9090,
    "check": {
      "tcp": "127.0.0.1:9090",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}