{
  "service": {
    "name": "prometheus",
    "tags": ["meta", "exporter"],
    "meta": {"type": "prometheus"},
    "port": 9090,
    "check": {
      "tcp": "localhost:9090",
      "interval": "{{ consul_check_interval }}",
      "timeout": "{{ consul_check_timeout  }}"
    }
  }
}