{
  "service": {
    "name": "alertmanager",
    "tags": ["meta"],
    "meta": {"type": "alertmanager"},
    "port": 9093,
    "check": {
      "tcp": "localhost:9093",
      "interval": "{{ consul_check_interval }}",
      "timeout": "{{ consul_check_timeout  }}"
    }
  }
}