{
  "service": {
    "name": "alertmanager",
    "tags": ["meta"],
    "meta": {"type": "alertmanager"},
    "port": 9093,
    "check": {
      "tcp": "127.0.0.1:9093",
      "interval": "15s",
      "timeout": "1s"
    }
  }
}