#==============================================================#
# File      :   targets/all.yml
# Ctime     :   2021-02-18
# Mtime     :   2021-02-18
# Atime     :   {{ '%Y-%m-%d %H:%M' |strftime }}
# Note      :   Managed by Ansible
# Desc      :   Prometheus Static Monitoring Targets Definition
# Path      :   /etc/prometheus/targets/all.yml
# Copyright (C) 2018-2021 Ruohang Feng
#==============================================================#

# static monitor targets, batch version

{% for target in prometheus_targets %}
#======> {{ target.cls }}-{{ target.seq }} [{{ target.role }}]
- labels: {cls: {{ target.cls }}, ins: {{ target.cls }}-{{ target.seq }}, ip: {{ target.ip }}, role: {{ target.role }}, svc: {{ target.cls }}-{{ target.role }}}
  targets: [{{ target.ip }}:{{ target.pg_port }}{% if target.node_enabled %}, {{ target.ip }}:{{ target.node_port }}{% endif %}{% if target.pgbouncer_enabled %}, {{ target.ip }}:{{ target.pgbouncer_port }}{% endif %}{% if target.haproxy_enabled %}, {{ target.ip }}:{{ target.haproxy_port }}{% endif %}]

{% endfor %}