# {{ target.cls }}-{{ target.seq }} [{{ target.role }}] @ {{ '%Y-%m-%d %H:%M' |strftime }}
- labels: {cls: {{ target.cls }}, ins: {{ target.cls }}-{{ target.seq }}, ip: {{ target.ip }}, role: {{ target.role }}, svc: {{ target.cls }}-{{ target.role }}}
  targets: [{{ target.ip }}:{{ target.pg_port }}{% if target.node_enabled %}, {{ target.ip }}:{{ target.node_port }}{% endif %}{% if target.pgbouncer_enabled %}, {{ target.ip }}:{{ target.pgbouncer_port }}{% endif %}{% if target.haproxy_enabled %}, {{ target.ip }}:{{ target.haproxy_port }}{% endif %}]