# -*- mode: conf -*-

[Unit]
Description=The Loki Logging Service
Documentation=https://grafana.com/docs/loki/latest/
After=network.target

[Service]
User=loki
ExecStart=/usr/bin/loki -config.file /etc/loki/config.yml
ExecReload=/bin/kill -HUP $MAINPID
TimeoutSec = 120
Restart = on-failure
RestartSec = 2
LimitNOFILE=16777216

[Install]
WantedBy=multi-user.target