# -*- mode: conf -*-

[Unit]
Description=The Loki Logging Service
Documentation=https://grafana.com/docs/loki/latest/
After=network.target

[Service]
User=prometheus
EnvironmentFile=-/etc/default/loki
ExecStart=/usr/bin/loki $LOKI_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target